@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

.shop-container-- {
  width: 100vw;

  .container-padding-shop-page {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2%;
    @include mixin.pagePadding;

    .container-shop-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .left-container- {
        width: 20vw;

        @media only screen and (max-width: 943px) {
          display: none;
        }
      }

      .product-container-shop {
        width: 100%;
      }
    }
  }
}
