@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

nav {
  top: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: 100vw;

  .container-padder-nav {
    width: 100%;

    .top-container {
      background-color: variables.$Secondary-700;
      width: 100%;
      height: 52;
      justify-content: space-between;
      display: flex;
      justify-items: center;
      border-bottom: 1px solid;
      border-bottom: 0.1px solid variables.$Gray-500;
      @include mixin.pagePadding;

      @media only screen and (max-width: 1045px) {
        display: block;
      }

      .container-left {
        text-align: left;
        width: 50%;

        @media only screen and (max-width: 1045px) {
          width: 100%;
        }

        .welcome-txt {
          font-size: 12px;
          //
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          color: variables.$White-100;
        }
      }

      .container-items-right {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 1045px) {
          width: 100%;
          display: flex;
          justify-content: flex-start;
        }

        .container-media {
          //
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;

          @media only screen and (max-width: 1045px) {
            width: 40%;
            margin-top: 10px;
          }

          @media only screen and (max-width: 968px) {
            display: none;
          }

          @media only screen and (max-width: 631px) {
            width: 60%;
          }

          @media only screen and (max-width: 472px) {
            width: 100%;
          }

          p {
            color: variables.$White-100;
          }

          img {
            display: block;
            height: 100%;
          }
        }

        .container-lang {
          //
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          border-left: 1px solid #ffffff;
          padding-left: 10px;

          @media only screen and (max-width: 1045px) {
            width: 20%;
            margin-top: 10px;
            display: none;
          }

          p {
            color: variables.$White-100;
          }
        }
      }
    }

    .Middle_Nav__ {
      background-color: variables.$Secondary-700;
      width: 100%;
      height: 52;
      justify-content: space-between;
      display: flex;
      justify-items: center;
      border-bottom: 1px solid;
      border-bottom: 0.1px solid variables.$Gray-500;
      @include mixin.pagePadding;

      @media only screen and (max-width: 968px) {
        position: sticky;
      }

      .container-logo {
        padding-top: 5px;

        @media only screen and (max-width: 1045px) {
          width: 60%;
          padding: 0;
        }
      }

      .container-search {
        width: 55%;
        padding-top: 5px;
        display: flex;
        justify-items: center;

        @media only screen and (max-width: 1045px) {
          display: none;
        }

        .search-input-nav {
          width: 100%;
          gap: 8px;
          padding-top: 14px;
          padding-right: 20px;
          outline: none;
          padding-bottom: 14px;
          padding-left: 20px;
          border-radius: 2px;
          background-color: variables.$White-100;
          //
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          color: variables.$Gray-500;
          height: 35px;
        }
      }

      .container-icons-commerce {
        padding-top: 10px;
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 1045px) {
          width: 40%;
          padding-top: 5px;
        }

        img {
          width: 22px;
          height: 22px;
          cursor: pointer;
        }
      }
    }

    .bottom-Nav {
      width: 100%;
      height: 80;
      justify-content: space-between;
      box-shadow: 0px -1px 0px 0px #e4e7e9 inset;
      @include mixin.pagePadding;

      @media only screen and (max-width: 842px) {
        display: none;
      }

      .container-left-bottom-nav {
        ul {
          li {
            a {
              width: 154;
              height: 48;
              gap: 8px;
              padding: 10px 15px;
              border-radius: 2px;
              display: block;
              color: variables.$Gray-500;
              transition: 0.5s;

              &:hover {
                background-color: variables.$Gray-50;
                width: fit-content;
                color: variables.$Gray-900;
              }
            }

            &:first-child {
              a {
                background-color: variables.$Gray-50;
                width: fit-content;
                color: variables.$Gray-900;
              }
            }
          }
        }
      }

      // .container-right-bottom-nav {typography}
    }
  }
}

// best-deals header
.header-best-deals {
  width: 100%;

  @media only screen and (max-width: 821px) {
    // display: block;
  }

  .container-right--- {
    @media only screen and (max-width: 821px) {
      height: fit-content;

      // a {
      //   background-color: antiquewhite;
      // }
    }
  }

  .container-items-left--- {
    @media only screen and (max-width: 821px) {
      flex-direction: column;
      width: 75%;
    }
  }

  .container-header-items {
    @media only screen and (max-width: 821px) {
      gap: 5;

      p,
      span,
      h1,
      h2,
      h3,
      h4,
      h5 {
        margin: 0;
        padding: 0;
        width: fit-content;
        height: fit-content;
      }
    }

    @media only screen and (max-width: 420px) {
      gap: 2;
    }

    h1 {
      color: variables.$Gray-900;
      font-weight: 600;
      font-size: 17px;
      line-height: 32px;
      letter-spacing: 0%;

      @media only screen and (max-width: 420px) {
        font-size: 16px;
      }
    }

    p {
      height: 100%;
      font-size: 12px;

      @media only screen and (max-width: 420px) {
        font-size: 13px;
      }
    }

    a {
      color: variables.$Secondary-500;
      width: fit-content;

      p {
        color: variables.$Secondary-500;
        gap: 2px;
        padding-top: 6px;
        padding-right: 12px;
        padding-bottom: 6px;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0%;

        @media only screen and (max-width: 420px) {
          font-size: 12px;
        }
      }

      img {
        @media only screen and (max-width: 420px) {
          width: 5%;
        }
      }
    }

    span {
      background-color: variables.$Warning-300;
      gap: 6px;
      padding-top: 6px;
      padding-right: 12px;
      padding-bottom: 6px;
      padding-left: 12px;
      border-radius: 2px;

      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0%;

      @media only screen and (max-width: 420px) {
        font-size: 15px;
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }
}

.container-shopping-category {
  .header-shopping-cart {
    h1 {
      font-weight: 600;
      font-size: 22px;
      line-height: 40px;
      letter-spacing: 0%;
      text-align: center;
      color: variables.$Gray-900;
    }
  }
}

// header feature
.header-featured-product {
  height: 20px;
  width: 100%;

  @media (max-width: 992px) {
    display: block;
  }

  .container-left-container {
    padding-bottom: 5px;
    width: 20%;

    @media (max-width: 992px) {
      width: 100%;
    }

    h1 {
      font-weight: 600;
      font-size: 14px;
      line-height: 32px;
      letter-spacing: 0%;
    }
  }

  .container-right-header {
    width: 80%;

    @media (max-width: 992px) {
      width: 100%;
      display: flex;
      margin-top: 10px;
      justify-content: flex-start;
    }

    a {
      @media (max-width: 992px) {
        display: none;
      }

      p {
        color: variables.$Primary-500;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0%;

        @media (max-width: 992px) {
          font-size: 10px;
        }
      }
    }

    ul {
      float: right;
      width: 70%;

      @media (max-width: 992px) {
        float: left;
        display: flex;
        width: 100%;
        justify-content: flex-start;
      }

      li {
        &:first-child {
          border-bottom: 1.5px solid variables.$Primary-500;
        }

        a {
          font-family: Public Sans;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 0%;
          color: variables.$Gray-600;
          display: block;
        }
      }
    }
  }
}
