<!-- extends to the base template file -->
{% extends 'user_accounts/base.html' %}

<!-- loads static items from the static file -->
{% load static %}

<!-- block title for cart page -->
{% block title %} Profile settings {% endblock %}

<!-- block content -->
{% block content %}
<div class="container-profile-page">
  <div class="container-user-account-info">
    <form
      action="{% url 'profile' %}"
      method="post"
      enctype="multipart/form-data"
      class="profile-form"
    >
      {% csrf_token %}
      <div class="account-settings">
        <div class="top-header-account-settings">
          <p>Account Setting</p>
        </div>

        <div class="container-main-fields flex justify-between gap-[30px]">
          <div class="container-user-profile-image">
            {% if user.profile %}
            <img
              src="{{ user.profile.profile.url }}"
              alt="{{ user.username }}-profile"
              width="40"
              style="
                border-radius: 100px;
                height: 40px;
                min-height: 100px;
                min-width: 40px;
              "
            />
            {% else %}
            <img
              src="{% static 'images/default_profile_pic/icon-avatar.png' %}"
              alt="{{ user.username }}"
              width="40"
            />
            {% endif %}

            <div class="flex justify-center gap-3" style="align-items: center">
              <button id="upload_profile" class="cursor-pointer" type="button">
                <svg
                  fill="#000000"
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="13px"
                  height="13px"
                  viewBox="0 0 124 124"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      d="M18.1,54.5H0v51.4c0,3.1,2.5,5.6,5.6,5.6h112c3.5,0,6.4-2.9,6.4-6.4V35.6c0-3.4-2.7-6.1-6.1-6.1H89.1
		c-3,0-5.5-2.2-5.899-5.1l-1-6.6c-0.5-2.9-3-5.3-5.9-5.3H47.5c-3,0-5.5,2.3-5.9,5.3l-1,6.6c-0.4,2.9-3,5.1-5.9,5.1H6
		c-3.3,0-6,2.7-6,6v5h18.1c3.8,0,6.9,3.1,6.9,6.9v0.1C25,51.4,21.9,54.5,18.1,54.5z M108,40.7c3.9,0,7,3.1,7,7c0,3.9-3.1,7-7,7
		s-7-3.1-7-7C101,43.9,104.1,40.7,108,40.7z M62.3,43.2c16.601,0,30,13.4,30,30c0,16.6-13.399,30-30,30c-16.6,0-30-13.4-30-30
		C32.3,56.6,45.8,43.2,62.3,43.2z"
                    />
                    <circle cx="62" cy="73.2" r="15" />
                  </g>
                </svg>
                <span>Upload</span>
              </button>

              {% if user.profile %}
              <button
                class="cursor-pointer"
                id="remove"
                type="submit"
                name="remove_profile"
              >
                <svg
                  fill="#000000"
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="15px"
                  height="15px"
                  viewBox="0 0 408.483 408.483"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        d="M87.748,388.784c0.461,11.01,9.521,19.699,20.539,19.699h191.911c11.018,0,20.078-8.689,20.539-19.699l13.705-289.316
			H74.043L87.748,388.784z M247.655,171.329c0-4.61,3.738-8.349,8.35-8.349h13.355c4.609,0,8.35,3.738,8.35,8.349v165.293
			c0,4.611-3.738,8.349-8.35,8.349h-13.355c-4.61,0-8.35-3.736-8.35-8.349V171.329z M189.216,171.329
			c0-4.61,3.738-8.349,8.349-8.349h13.355c4.609,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.737,8.349-8.349,8.349h-13.355
			c-4.61,0-8.349-3.736-8.349-8.349V171.329L189.216,171.329z M130.775,171.329c0-4.61,3.738-8.349,8.349-8.349h13.356
			c4.61,0,8.349,3.738,8.349,8.349v165.293c0,4.611-3.738,8.349-8.349,8.349h-13.356c-4.61,0-8.349-3.736-8.349-8.349V171.329z"
                      />
                      <path
                        d="M343.567,21.043h-88.535V4.305c0-2.377-1.927-4.305-4.305-4.305h-92.971c-2.377,0-4.304,1.928-4.304,4.305v16.737H64.916
			c-7.125,0-12.9,5.776-12.9,12.901V74.47h304.451V33.944C356.467,26.819,350.692,21.043,343.567,21.043z"
                      />
                    </g>
                  </g>
                </svg>
              </button>
              {% endif %}
            </div>

            <input
              type="file"
              name="profile"
              id="profile-img-input"
              style="display: none"
              accept="image/*"
            />
          </div>

          <div>
            <div
              class="container-user-details-fields flex justify-between gap-[20px]"
            >
              <div
                class="container-left-profile flex justify-start gap-2 flex-col"
              >
                <div class="input-container">
                  <label for="displayname">Display name</label>
                  <input
                    type="text"
                    value="{{ user_form.username.value }}"
                    class="disabled-input"
                    disabled
                  />

                  <div class="container-error-msg mt-1">
                    <p class="error-msg"></p>
                  </div>
                </div>

                <div class="input-container">
                  <label for="username">Second Name</label>
                  {{ additional_user.related_username }}

                  <div class="container-error-msg mt-1">
                    <p class="error-msg"></p>
                  </div>
                </div>

                <div class="input-container">
                  <label for="email">Secondary Email</label>
                  {{ additional_user.second_email }}

                  <div class="container-error-msg mt-1">
                    <p class="error-msg"></p>
                  </div>
                </div>

                <div class="input-container">
                  <label for="country_region">Country/Region</label>
                  {{ additional_user.country_region }}

                  <div class="container-error-msg mt-1">
                    <p class="error-msg"></p>
                  </div>
                </div>
              </div>

              <div
                class="container-right-profile flex justify-start gap-2 flex-col"
              >
                <div class="input-container">
                  <label for="Name">User Name</label>
                  {{ user_form.username }}

                  <div class="container-error-msg mt-1">
                    <p class="error-msg"></p>
                  </div>
                </div>

                <div class="input-container">
                  <label for="email">Email</label>
                  {{ user_form.email }}

                  <div class="container-error-msg mt-1">
                    <p class="error-msg"></p>
                  </div>
                </div>

                <div class="input-container">
                  <label for="phone_number">Phone Number</label>
                  {{ additional_user.phone_number }}

                  <div class="container-error-msg mt-1">
                    <p class="error-msg"></p>
                  </div>
                </div>

                <div
                  class="container-fields-zip-state flex justify-between w-[100%] gap-5"
                >
                  <div class="input-container">
                    <label for="state">State</label>
                    {{ additional_user.city }}

                    <div class="container-error-msg mt-1">
                      <p class="error-msg"></p>
                    </div>
                  </div>

                  <div class="input-container">
                    <label for="state">Zip Code</label>
                    {{ additional_user.zip_code }}

                    <div class="container-error-msg mt-1">
                      <p class="error-msg"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-bottom-profile mt-5 flex justify-between">
              <!-- btn submit -->
              <div class="submit-btn flex-1/2">
                <button
                  type="submit"
                  class="btn-primary"
                  name="submit_user_info"
                >
                  Save Changes
                </button>
              </div>

              <!-- error message if -->
              <div
                class="container-error-msg flex-1/3 flex justify-end"
                style="align-items: center"
              >
                {% include 'error/message.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div
    class="container-billing-shipping-info flex justify-between gap-5 mt-5"
    id="billing-shipping"
  >
    <form action="{% url 'profile' %}" method="post" class="billing-form">
      {% csrf_token %}

      <div class="container-billing-information">
        <div class="top-container-billing-profile">
          <p>Billing Address</p>
        </div>

        <div class="container-billing-information-padding">
          <div
            class="container-billing-information-main flex justify-between gap-1 flex-col"
          >
            <div class="container-two-container- flex justify-between gap-2.5">
              <div class="input-container">
                <label for="first_name">First Name</label>
                {{ billing_information.first_name }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>

              <div class="input-container">
                <label for="last_name">Last Name</label>
                {{ billing_information.last_name }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>
            </div>

            <div class="input-container_">
              <label for="company_name"
                >Company Name <span>(Optional)</span></label
              >
              {{ billing_information.company_name }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="address">Address</label>
              {{ billing_information.address }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="country">Country</label>
              {{ billing_information.country }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="region_state">Region/State</label>
              {{ billing_information.region_state }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="container-two-fields flex justify-between gap-2.5">
              <div class="input-container">
                <label for="city">City</label>
                {{ billing_information.city }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>

              <div class="input-container">
                <label for="zip_code">Zip Code</label>
                {{ billing_information.zip_code }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>
            </div>

            <div class="input-container">
              <label for="email">Email</label>
              {{ billing_information.email }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="phone_number">Phone Number</label>
              {{ billing_information.phone_number }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>
          </div>

          <!-- btn submit -->
          <div class="submit-btn mt-5">
            <button
              type="submit"
              class="btn-primary"
              name="submit_billing_info"
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </form>

    <form action="{% url 'profile' %}" method="post" class="shipping-form">
      {% csrf_token %}
      <div class="container-shipping-information">
        <div class="top-container-shipping-profile">
          <p>Shipping Address</p>
        </div>

        <div class="container-shipping-information-padding">
          <div
            class="container-shipping-information-main flex justify-between gap-1 flex-col"
          >
            <div class="container-two-container- flex justify-between gap-2.5">
              <div class="input-container">
                <label for="first_name">First Name</label>
                {{ shipping_information.first_name }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>

              <div class="input-container">
                <label for="last_name">Last Name</label>
                {{ shipping_information.last_name }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>
            </div>

            <div class="input-container_">
              <label for="company_name"
                >Company Name <span>(Optional)</span></label
              >
              {{ shipping_information.company_name }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="address">Address</label>
              {{ shipping_information.address }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="country">Country</label>
              {{ shipping_information.country }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="region_state">Region/State</label>
              {{ shipping_information.region_state }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="container-two-fields flex justify-between gap-2.5">
              <div class="input-container">
                <label for="city">City</label>
                {{ shipping_information.city }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>

              <div class="input-container">
                <label for="zip_code">Zip Code</label>
                {{ shipping_information.zip_code }}

                <div class="container-error-msg mt-1">
                  <p class="error-msg"></p>
                </div>
              </div>
            </div>

            <div class="input-container">
              <label for="email">Email</label>
              {{ shipping_information.email }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>

            <div class="input-container">
              <label for="phone_number">Phone Number</label>
              {{ shipping_information.phone_number }}

              <div class="container-error-msg mt-1">
                <p class="error-msg"></p>
              </div>
            </div>
          </div>

          <!-- btn submit -->
          <div class="submit-btn mt-5">
            <button
              type="submit"
              class="btn-primary"
              name="submit_shipping_info"
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container-reset-user-password mt-5">
    <form
      action="{% url 'reset_user_password' %}"
      method="post"
      name="reset_password"
    >
      {% csrf_token %}

      <div class="container-reset-user-password-padding">
        <div class="top-container-reset_user_pwd_profile">
          <p>Change Password</p>
        </div>

        <div
          class="container-items-pwd-fields flex justify-between gap-1 flex-col"
        >
          <div class="input-container">
            <label for="email">Current Password</label>
            {{ reset_user_password.current_password }}

            <div class="container-error-msg mt-1">
              <p class="error-msg"></p>
            </div>

            {% if reset_user_password.errors %}
            <div class="container-error-msg mt-1">
              {% for error in reset_user_password.current_password.errors %}
              <p class="error-msg">{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <div class="input-container">
            <label for="email">New Password</label>
            {{ reset_user_password.new_password }}

            <div class="container-error-msg mt-1">
              <p class="error-msg"></p>
            </div>
          </div>

          <div class="input-container">
            <label for="email">Confirm Password</label>
            {{ reset_user_password.confirm_password }}

            <!-- <a href="#" class="svg-eye">
              <svg
                fill="#000000"
                width="18px"
                height="18px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"
                />
              </svg>
            </a> -->

            <div class="container-error-msg mt-1">
              <p class="error-msg"></p>
            </div>
          </div>

          {% if reset_user_password.errors %}
          <div class="container-error-msg mt-1">
            {% for error in reset_user_password.non_field.errors %}
            <p class="error-msg">{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <!-- btn submit -->
          <div class="submit-btn mt-5">
            <button type="submit" class="btn-primary">Save Changes</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="container-delete-user pt-7">
    <form action="{% url 'delete_user' %}" method="post">
      {% csrf_token %}
      <button class="btn-danger">Delete account</button>
    </form>
  </div>
</div>
{% endblock %}
