<!-- loads static content -->
{% load static %}

<!-- load main content -->
{% block content %}
<div class="container-pwd-request_form-- w-full">
  <div class="container-pwd-request-padding w-full">
    <form
      method="post"
      action="{% url 'reset_password_request' %}"
      class="pwd-request_email_form w-full flex justify-between gap-4 flex-col"
    >
      {% csrf_token %}

      <div class="input-container w-full">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          id="request-email"
          class="reqeust-email"
        />

        <div class="container-error-msg mt-1">
          <p class="error-msg"></p>
        </div>
      </div>

      {% if form.errors %}
      <div class="container-error-msg">
        {% for error in form.non_field_errors %}
        <p class="error-msg">{{ error }}*</p>
        {% endfor %}
      </div>
      {% endif %}

      <button class="bton-login--sign-up flex justify-center">
        Send Code
        <svg
          class="ml-2"
          width="16"
          height="16"
          viewBox="0 0 48 48"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h48v48H0z" fill="none" />
          <g id="Shopicon">
            <polygon
              points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
              fill="white"
            />
          </g>
        </svg>
      </button>
    </form>
  </div>
</div>
{% endblock %}
