@use "../abstracts/variables" as variables;

body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ol,
a strong {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: variables.$Gray-900;
}
