@use "../abstracts/variables" as variables;

body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: variables.$White-100;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ol,
a strong {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: variables.$Gray-900;
}

// a {
//   display: block;
//   max-width: fit-content;
// }

.web-model {
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease-in-out;
  backdrop-filter: blur(4px);
  pointer-events: none;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-attachment: fixed;
  z-index: 888;
}

.web-model.active {
  opacity: 1 !important;
  pointer-events: auto;
}
