<!-- loads static data -->
{% load static %}

<!-- main content goes here -->
{% block content %}
<div class="container-commetns">
  <form method="post">
    <h1>Comments Page</h1>
    <!-- comments form -->
    {% csrf_token %} {{form.as_p}}
    <button type="submit">Submit form</button>
  </form>

  <!-- comments here -->
  {% for comment in comments %}
  <!-- checking if there's comment -->
  {% if comment %}
  <p>@{{comment.full_name}}</p>
  <p>{{comment.email}}</p>
  <span>{{comment.message}}</span>
  <form method="post">
    {% csrf_token %} {{form.as_p}} <button type="submit">Submit form</button>
  </form>
  {% for child in comment.child.all %}
  <div class="container-children" style="margin-left: 100px">
    <p>@{{child.full_name}} replied to @{{comment.full_name}}</p>
    <p>{{child.email}}</p>
    {{child.message}}
    <form method="post">
      {% csrf_token %} {{form.as_p}} <button type="submit">Submit form</button>
    </form>
  </div>
  {% endfor %}
  <!-- else -->
  {% else %}
  <p>No comment added yet</p>
  <!-- ending if statement -->
  {% endif %}
  <!-- ending loop for comments -->
  {% endfor %}
</div>
{% endblock %}
