{% load static %}

<!-- main content -->
{% block content %}
<div class="container-news w-full">
  <div class="container-news-main">
    <div class="container-img-top">
      <img
        src="{% static 'images/blog/unsplash_iZVrfElG1t0.png' %}"
        alt="news-1"
      />
    </div>

    <div class="articles--">
      <strong class="intro-news"
        >Cras nisl dolor, accumsan et metus sit amet, vulputate condimentum
        dolor.</strong
      >

      <p class="articles-news">
        Maecenas scelerisque, arcu quis tempus egestas, ligula diam molestie
        lectus, tincidunt malesuada arcu metus posuere metus.
      </p>

      <button class="btn-read-more-news">Read more</button>
    </div>
  </div>

  <div class="container-news-main">
    <div class="container-img-top">
      <img
        src="{% static 'images/blog/unsplash_FO7JIlwjOtU.png' %}"
        alt="news-1"
      />
    </div>

    <div class="articles--">
      <strong class="intro-news"
        >Cras nisl dolor, accumsan et metus sit amet, vulputate condimentum
        dolor.</strong
      >

      <p class="articles-news">
        Maecenas scelerisque, arcu quis tempus egestas, ligula diam molestie
        lectus, tincidunt malesuada arcu metus posuere metus. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Eum vitae qui, expedita
        accusantium saepe eligendi quos rem autem cum corporis?
      </p>

      <button class="btn-read-more-news">Read more</button>
    </div>
  </div>

  <div class="container-news-main">
    <div class="container-img-top">
      <img
        src="{% static 'images/blog/unsplash_6MNmDi1hc_Y.png' %}"
        alt="news-1"
      />
    </div>

    <div class="articles--">
      <strong class="intro-news"
        >Cras nisl dolor, accumsan et metus sit amet, vulputate condimentum
        dolor.</strong
      >

      <p class="articles-news">
        Maecenas scelerisque, arcu quis tempus egestas, ligula diam molestie
        lectus, tincidunt malesuada arcu metus posuere metus.
      </p>

      <button class="btn-read-more-news">Read more</button>
    </div>
  </div>
</div>
{% endblock %}
