<!-- extending to base Html template -->
{% extends 'base.html' %}

<!-- loading static data -->
{% load static %}

<!-- block title -->
{% block title %} Clicon Home Page {% endblock %}

<!-- content goes here -->

{% block content %}
<!-- content -->

<div class="container--adds-one">
  <div class="container-add-padder">
    <!-- ecommerce adds -->
    <div class="container-top-padder w-full flex justify-betwen gap-7">
      {% if top_ad %}
      <div class="container-big-add-left w-full flex justify-between">
        <div
          class="container-inner-sm -container-articles w-1/2 h-full p-6 pt-25 xl:pl-10"
        >
          {% if top_ad.title %}
          <h3>----{{ top_ad.title }}</h3>
          {% endif %}

          <!--  -->
          {% if top_ad.name %}
          <h1 class="text-white">{{ top_ad.name }}</h1>
          {% endif %}

          <!--  -->
          {% if top_ad.description %}
          <p>{{ top_ad.description }}</p>
          {% endif %}
          <button class="mt-4 w-1/2 flex justify-center btn-primary gap-1">
            Shop now
            <svg
              width="16"
              height="16"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="white"
                />
              </g>
            </svg>
          </button>
        </div>

        <div
          class="container-inner-sm w-1/2 h-full flex justify-items-end pt-10"
        >
          {% if top_ad.price %}
          <p class="huge-price">${{ top_ad.price }}</p>
          {% endif %}

          <img
            src="{{ top_ad.image.url }}"
            alt="playstation-5"
            class="bottom-0"
          />
        </div>
      </div>
      {% else %}
      <div
        class="container-big-add-left w-full md:flex justify-between overflow-hidden hidden"
      >
        <div
          class="container-inner-sm -container-articles w-1/2 h-full p-6 pt-25 xl:pl-10"
        ></div>
      </div>
      {% endif %}

      <div class="container-small-add-right w-full gap-7">
        {% if top_right_ad %}
        <div
          class="container-sm-add-sm w-full flex justify-between overflow-hidden"
        >
          <div class="container-inner-sm w-1/2 h-full p-6">
            {% if top_right_ad.title %}
            <p>{{ top_right_ad.title }}</p>
            {% endif %}

            <!--  -->
            {% if top_right_ad.name %}
            <h2 class="text-white">{{ top_right_ad.name }}</h2>
            {% endif %}

            <!--  -->
            {% if top_right_ad.price %}
            <p>{{ top_right_ad.price }}</p>
            {% endif %}
            <button class="mt-4 w-full flex justify-center btn-primary gap-1">
              Shop now
              <svg
                width="16"
                height="16"
                viewBox="0 0 48 48"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h48v48H0z" fill="none" />
                <g id="Shopicon">
                  <polygon
                    points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                    fill="white"
                  />
                </g>
              </svg>
            </button>
          </div>

          <div
            class="container-inner-sm w-1/2 h-full flex justify-items-end pt-10"
          >
            <!-- <p class="off-percentage">29% OFF</p> -->
            <img
              src="{{ top_right_ad.image.url }}"
              alt="phone"
              class="bottom-0"
            />
          </div>
        </div>
        {% else %}
        <div
          class="container-sm-add-sm w-full flex justify-between overflow-hidden"
        ></div>
        {% endif %}

        <!--  -->
        {% if top_right_bottom_ad %}
        <div
          class="container-sm-add-sm w-full flex justify-between overflow-hidden"
        >
          <div class="container-inner-sm w-1/2 h-ful pt-5">
            <img
              src="{{ top_right_bottom_ad.image.url }}"
              alt="phone"
              class="bottom-0"
            />
          </div>

          <div class="container-inner-sm w-1/2 h-full p-6">
            <!--  -->
            {% if top_right_bottom_ad.name %}
            <h2>{{ top_right_bottom_ad.name }}</h2>
            {% endif %}

            <!--  -->
            {% if top_right_bottom_ad.price %}
            <p>${{ top_right_bottom_ad.price }} USD</p>
            {% endif %}
            <button class="mt-4 w-full flex justify-center btn-primary gap-1">
              Shop now
              <svg
                width="16"
                height="16"
                viewBox="0 0 48 48"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h48v48H0z" fill="none" />
                <g id="Shopicon">
                  <polygon
                    points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                    fill="white"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
        {% else %}
        <div
          class="container-sm-add-sm w-full flex justify-between overflow-hidden"
        ></div>
        {% endif %}
      </div>
    </div>

    <!-- Features -->
    <div class="container-features w-full mt-8">
      <div class="features-padder flex justify-evenly">
        <div class="container-items flex justify-evenly">
          <div class="container-- mr-2">
            <img src="{% static 'images/svg/Package.svg' %}" alt="Package" />
          </div>

          <span
            ><h2>Fastest Delivery</h2>
            <p>Delivery in 24/H</p></span
          >
        </div>

        <div class="container-items flex justify-evenly">
          <div class="container-- mr-2">
            <img src="{% static 'images/svg/Trophy.svg' %}" alt="Package" />
          </div>

          <span
            ><h2>24 Hours Return</h2>
            <p>100% money-back guarantee</p></span
          >
        </div>

        <div class="container-items flex justify-evenly">
          <div class="container-- mr-2">
            <img src="{% static 'images/svg/CreditCard.svg' %}" alt="Package" />
          </div>

          <span
            ><h2>Secure Payment</h2>
            <p>Your money is safe</p></span
          >
        </div>

        <div class="container-items flex justify-evenly">
          <div class="container-- mr-2">
            <img src="{% static 'images/svg/Headphones.svg' %}" alt="Package" />
          </div>

          <span>
            <h2>Support 24/7</h2>
            <p>Live contact/message</p></span
          >
        </div>
      </div>
    </div>

    <!-- Best deals -->
    {% if best_deals_products %}
    <section class="section-best deals" id="section-best deals">
      <div class="container-best-deals mt-10">
        <div class="wrapper-best-deals">
          <header class="header-best-deals flex justify-between">
            <div
              class="container-header-items container-items-left--- w-1/2 flex justify-start gap-2 md:gap-5"
            >
              <h1>Best Deals</h1>
              <p class="md:mt-2">Deals ends in</p>

              <span><p>16d : 21h : 57m : 23s</p></span>
            </div>

            <div
              class="container-header-items container-right--- flex justify-end w-1/2 gap-2"
            >
              <a href="{% url 'shop' %}" class="w-1/2">
                <div class="flex justify-end">
                  <p>Browse All Product</p>
                  <svg
                    class="mt-2"
                    width="15"
                    height="15"
                    viewBox="0 0 48 48"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M0 0h48v48H0z" fill="none" />
                    <g id="Shopicon">
                      <polygon
                        points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                        fill="#2da5f3"
                      />
                    </g>
                  </svg>
                </div>
              </a>
            </div>
          </header>

          <!-- best deals product -->
          <div class="container-best-deals-product w-full">
            {% include 'products/partials/best_deals.html' %}
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    <!-- shop category  -->
    {% if top_categories %}
    <div class="container-shopping-category w-full">
      {% include 'products/shop_category.html' %}
    </div>
    {% endif %}

    <!-- featured product -->
    {% if featured_products %}
    <section class="featured-product" id="featured-product">
      <div class="container-featured-product w-full mt-10">
        <div class="container-featured-padder-product w-full">
          {% include 'products/partials/featured_products.html' %}
        </div>
      </div>
    </section>
    {% endif %}

    <!-- banner -->
    {% if first_middle_banner_ad and second_middle_banner_ads %}
    <div class="container-banner mt-10 w-full flex justify-between gap-4">
      {% if first_middle_banner_ad %}
      <div class="container-benner-1 w-1/2 flex justify-between">
        <div class="container-articles w-1/2">
          <article>
            <p class="introduction-banner-txt">
              {{ first_middle_banner_ad.title }}
            </p>
            <h4 class="banner-product-name mt-3">
              {{ first_middle_banner_ad.name }}
            </h4>
            <p class="banner-product-description">
              {{ first_middle_banner_ad.description }}
            </p>

            <button class="mt-5 flex justify-center btn-primary">
              Shop now
              <svg
                width="16"
                height="16"
                viewBox="0 0 48 48"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h48v48H0z" fill="none" />
                <g id="Shopicon">
                  <polygon
                    points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                    fill="white"
                  />
                </g>
              </svg>
            </button>
          </article>
        </div>

        <div class="banner-product-img w-1/2">
          <img
            src="{{ first_middle_banner_ad.image.url }}"
            alt="{{ first_middle_banner_ads.title }}"
          />
        </div>
      </div>
      {% endif %}

      <!-- banner 2 -->
      {% if second_middle_banner_ads %}
      <div class="container-benner-2 w-1/2 flex justify-between">
        <div class="container-articles w-1/2">
          <article>
            <p class="introduction-banner-txt">
              {{ second_middle_banner_ads.title }}
            </p>
            <h4 class="banner-product-name mt-3">
              {{ second_middle_banner_ads.name }}
            </h4>
            <p class="banner-product-description">
              {{ second_middle_banner_ads.description }}
            </p>
            <button class="mt-5 flex justify-between btn-primary">
              Shop now
              <svg
                width="16"
                height="16"
                viewBox="0 0 48 48"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M0 0h48v48H0z" fill="none" />
                <g id="Shopicon">
                  <polygon
                    points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                    fill="white"
                  />
                </g>
              </svg>
            </button>
          </article>
        </div>

        <div class="banner-product-img w-1/2 h-full pt-10">
          {% if second_middle_banner_ads.price %}
          <p class="banner-price">${{ second_middle_banner_ads.price }}</p>
          {% endif %}
          <img
            src="{{ second_middle_banner_ads.image.url }}"
            alt="{{ second_middle_banner_ads.title }}"
            class="h-full"
          />
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    <!-- computer accessories -->
    {% if computer_accessories %}
    <section
      class="section-computer-accessories"
      id="section-computer-accessories"
    >
      <div class="container-computer_accessories-product w-full mt-10">
        <div
          class="container-computer_accessories-padder-product w-full flex justify-between"
          id="computer-accessories-products"
        >
          {% include 'products/partials/computer_accessories.html' %}
        </div>
      </div>
    </section>
    {% endif %}

    <!-- bottom banner -->
    {% if first_bottom_banner %}
    <div class="container-last-banner-home mt-10">
      <div class="container-left-banner">
        <p class="title">{{ first_bottom_banner.title }}</p>

        <h1 class="mt-1">{{ first_bottom_banner.name }}</h1>
        <p class="mt-1">{{ first_bottom_banner.description }}</p>

        <button class="btn-shop-now mt-5 flex justify-center">
          Shop now
          <svg
            class="ml-2"
            width="16"
            height="16"
            viewBox="0 0 48 48"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 0h48v48H0z" fill="none" />
            <g id="Shopicon">
              <polygon
                points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                fill="white"
              />
            </g>
          </svg>
        </button>
      </div>

      <div class="right-container-">
        <p class="huge-price-banner">${{ first_bottom_banner.price }}</p>
        <img
          src="{{ first_bottom_banner.image.url }}"
          alt="macbookImage"
          width="300"
        />
      </div>
    </div>
    {% endif %}

    <!-- product-list -->
    <section class="product-list" id="product-list">
      <div class="container-product-list mt-10">
        <div class="container-product-list-padder">
          {% include 'products/quick-product-list.html' %}
        </div>
      </div>
    </section>
  </div>
</div>

<!-- news section -->
<section class="section-news" id="section-news">
  <div class="container-latest-news">
    <div class="container-padder-latest-news">
      <header class="header-homepage-latest-news w-full text-center">
        <h1>Latest News</h1>
      </header>

      <!--blog  -->
      {% include 'public/news.html' %}
    </div>
  </div>
</section>

{% endblock %}
