<!-- loads static data -->
{% load static %}

<!-- main content -->
{% block content %}
<div class="container-product-mini-cart">
  <div class="top-container-product-cart">
    <p>Shopping Cart <span id="numberOfProduct"></span></p>
  </div>

  <div class="container-cart-products-container w-full">
    <div class="cart-product-container-padding">
      <a href="#">
        <div class="container-cart-product-container">
          <div class="container-img">
            <img
              src="{% static 'images/product/headsetImage.png' %}"
              alt="cart_item"
            />
          </div>

          <div class="container-articles--">
            <article>
              <p class="product-name">
                Canon EOS 1500D DSLR Camera Body+ 18-55 mm
              </p>

              <h6 class="product-price-amount">
                <span class="product-amount">3x</span>
                $<span id="cart-product-price">6778</span>
              </h6>
            </article>
          </div>
        </div>
      </a>

      <a href="#" class="mt-3">
        <div class="container-cart-product-container">
          <div class="container-img">
            <img
              src="{% static 'images/product/headsetImage.png' %}"
              alt="cart_item"
            />
          </div>

          <div class="container-articles--">
            <article>
              <p class="product-name">
                Canon EOS 1500D DSLR Camera Body+ 18-55 mm
              </p>

              <h6 class="product-price-amount">
                <span class="product-amount">1x</span>
                $<span id="cart-product-price">738</span>
              </h6>
            </article>
          </div>
        </div>
      </a>
    </div>

    <div class="checkout-btn--total---">
      <div class="checkout-btn--total-padding---">
        <div class="container-sub-totoal">
          <p class="sub-text">Sub-Total:</p>
          <h6 class="total-price">$<span class="total-sum"></span> USD</h6>
        </div>

        <div class="container-btns--">
          <button
            class="btn-Checkout-now flex justify-center gap-3 align-middle"
          >
            Checkout now
            <svg
              class="mt-0"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="white"
                />
              </g>
            </svg>
          </button>

          <button
            class="View-Cart mt-2"
            onclick="window.location.assign(`{% url 'cart_list' %}`)"
          >
            View Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
