<!-- loads static data -->
{% load static %}

<!-- main content -->
{% block content %}
<div class="container-product-mini-cart">
  <div class="top-container-product-cart">
    <p>Shopping Cart <span id="numberOfProduct"></span></p>
  </div>

  <div class="container-cart-products-container w-full">
    {% if cart_items %}
    <div class="cart-product-container-padding">
      {% for cart_item in cart_items %}
      <a
        href="{% url 'product_details' category_slug=cart_item.product.category.first.slug child_slug=cart_item.product.category.last.slug product_slug=cart_item.product.slug %}"
      >
        <div class="container-cart-product-container" style="margin: 10px 0">
          <div class="container-img">
            <img
              src="{{ cart_item.product.images.first.image.url }}"
              alt="{{ cart_item.product.brand }}"
            />
          </div>

          <div class="container-articles--">
            <article>
              <p class="product-name">{{ cart_item.product.name }}</p>

              <h6 class="product-price-amount">
                <span class="product-amount">{{ cart_item.quantity }}x</span>
                $<span id="cart-product-price"
                  >{{ cart_item.product.base_price }}</span
                >
              </h6>
            </article>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    {% else %}
    <div
      class="container-doest-not-exist"
      style="border-bottom: 1px solid #e4e7e9"
    >
      <p>No Cart item found</p>
    </div>
    {% endif %}

    <div class="checkout-btn--total---">
      <div class="checkout-btn--total-padding---">
        <div class="container-sub-totoal">
          <p class="sub-text">Sub-Total:</p>
          {% if cart_items %}
          <h6 class="total-price">
            ${% for cart_total in cart_items %}<span class="total-sum"
              >{{ cart_total.total_price }}</span
            >
            {% endfor %} USD
          </h6>
          {% else %}
          <h6 class="total-price">
            $<span class="total-sum">0</span>
            USD
          </h6>
          {% endif %}
        </div>

        <div class="container-btns--">
          <button
            class="btn-Checkout-now flex justify-center gap-3 align-middle"
          >
            Checkout now
            <svg
              class="mt-0"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="white"
                />
              </g>
            </svg>
          </button>

          <button
            class="View-Cart mt-2"
            onclick="window.location.assign(`{% url 'cart_list' %}`)"
          >
            View Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
