<!-- loads static data -->
{% load static %}

<!-- main content -->
{% block content %}

<div class="container-menu">
  <ul class="flex justify-between flex-col gap-2">
    {% for category in categories %}
    <li id="mainLink">
      <a href="{% url 'shop_category' category.slug %}" class="inner-link--"
        >{{ category.name }}</a
      >

      {% if category.children.exists %}
      <div class="parent-container-nav-inner flex justify-between">
        <div class="container-another--">
          <div class="container-menu container-inner">
            <!-- navbar drop down -->

            <ul class="flex justify-between">
              <div class="container-inner-ul-li flex justify-start flex-col">
                <li>
                  <a
                    href="{% url 'shop_category' category.slug %}"
                    class="inner-link--"
                    >All</a
                  >
                </li>

                {% for child in category.children.all %}
                <li>
                  <a
                    href="{% url 'shop_child_category' category.slug child.slug %}"
                    class="inner-link--"
                    >{{ child.name }}</a
                  >
                </li>
                {% endfor %}
              </div>

              <div class="container-main-inner-items-product">
                <div
                  class="container-right-inner-container-- flex-col justify-between flex center"
                >
                  <a href="{% url 'random_product' %}" class="mt-5">
                    <div class="container-product-main flex justify-between">
                      <div class="container-img">
                        <img
                          src="{% static 'images/product/dronecontrolImage.png' %}"
                          alt="p5Image"
                          width="100"
                        />
                      </div>
                      <div class="articles-main">
                        <p>
                          Bose Sport Earbuds - Wireless Earphones - Bluetooth In
                          Ear...
                        </p>
                        <span class="price">$1,500</span>
                      </div>
                    </div>
                  </a>

                  <a href="{% url 'random_product' %}" class="mt-5">
                    <div class="container-product-main flex justify-betwee">
                      <div class="container-img">
                        <img
                          src="{% static 'images/product/dronecontrolImage.png' %}"
                          alt="p5Image"
                          width="100"
                        />
                      </div>
                      <div class="articles-main">
                        <p>
                          Bose Sport Earbuds - Wireless Earphones - Bluetooth In
                          Ear...
                        </p>
                        <span class="price">$1,500</span>
                      </div>
                    </div>
                  </a>

                  <a href="{% url 'random_product' %}" class="mt-5">
                    <div class="container-product-main flex justify-between">
                      <div class="container-img">
                        <img
                          src="{% static 'images/product/dronecontrolImage.png' %}"
                          alt="p5Image"
                          width="100"
                        />
                      </div>
                      <div class="articles-main">
                        <p>
                          Bose Sport Earbuds - Wireless Earphones - Bluetooth In
                          Ear...
                        </p>
                        <span class="price">$1,500</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <!-- adds -->
              <div class="container-ads-navbar">
                <div class="container-ads-navbar-padder w-100 p-5">
                  <span class="span-1">21% <strong>Discount</strong></span>

                  <p>
                    Escape the noise, it's time to hear the magic with Xiaomi
                    Earbuds
                  </p>

                  <span class="flex justify-center gap-5 span-2"
                    ><p>Starting price:</p>
                    <h5>$99 USD</h5></span
                  >
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
