{% load static %}

<!-- main content -->
{% block content %}

<nav class="w-full">
  <div class="container-padder-nav">
    <div class="top-container">
      <div class="container-left">
        <p class="welcome-txt">Welcome to Clicon online eCommerce store.</p>
      </div>

      <div class="container-items-right gap-5">
        <div class="container-media">
          <span class="flex justify-between gap-3"
            ><p>Follow us:</p>
            <a href="#"
              ><img src="{% static 'images/svg/Twitter.svg' %}" alt="twitter"
            /></a>
            <a href="#"
              ><img src="{% static 'images/svg/Facebook.svg' %}" alt="Facebook"
            /></a>
            <a href="#"
              ><img
                src="{% static 'images/svg/Pinterest.svg' %}"
                alt="Pinterest"
            /></a>
            <a href="#"
              ><img src="{% static 'images/svg/Reddit.svg' %}" alt="Reddit"
            /></a>
            <a href="#"
              ><img src="{% static 'images/svg/Youtube.svg' %}" alt="Youtube"
            /></a>
            <a href="#"
              ><img
                src="{% static 'images/svg/Instagram.svg' %}"
                alt="Instagram"
            /></a>
          </span>
        </div>

        <div class="container-lang flex justify-between gap-4">
          <p>Eng</p>
          <p>USD</p>
        </div>
      </div>
    </div>

    <div class="Middle_Nav__">
      <div class="container-logo">
        <img src="{% static 'images/Logo.png' %}" alt="logo" width="120" />
      </div>

      <div class="container-search">
        <input
          type="text"
          class="search-input-nav"
          placeholder="Search for anything..."
        />
      </div>

      <div class="container-icons-commerce flex justify-center gap-4">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.25 20.25C8.25 20.6642 7.91421 21 7.5 21C7.08579 21 6.75 20.6642 6.75 20.25C6.75 19.8358 7.08579 19.5 7.5 19.5C7.91421 19.5 8.25 19.8358 8.25 20.25Z"
            fill="#191C1F"
            stroke="white"
            stroke-width="1.5"
          />
          <path
            d="M17.25 21.75C18.0784 21.75 18.75 21.0784 18.75 20.25C18.75 19.4216 18.0784 18.75 17.25 18.75C16.4216 18.75 15.75 19.4216 15.75 20.25C15.75 21.0784 16.4216 21.75 17.25 21.75Z"
            fill="white"
          />
          <path
            d="M3.96562 6.75H20.7844L18.3094 15.4125C18.2211 15.7269 18.032 16.0036 17.7711 16.2C17.5103 16.3965 17.1922 16.5019 16.8656 16.5H7.88437C7.55783 16.5019 7.2397 16.3965 6.97886 16.2C6.71803 16.0036 6.52893 15.7269 6.44062 15.4125L3.04688 3.54375C3.00203 3.38696 2.9073 3.24905 2.77704 3.15093C2.64677 3.05282 2.48808 2.99983 2.325 3H0.75"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.625 7.49803 3.01546 6.40585 3.72996 5.53431C4.44445 4.66277 5.43884 4.0657 6.54393 3.84468C7.64903 3.62366 8.79657 3.79235 9.79131 4.32204C10.7861 4.85174 11.5665 5.70972 12 6.75001C12.4335 5.70972 13.2139 4.85174 14.2087 4.32204C15.2034 3.79235 16.351 3.62366 17.4561 3.84468C18.5612 4.0657 19.5555 4.66277 20.27 5.53431C20.9845 6.40585 21.375 7.49803 21.375 8.62501C21.375 15 12 20.25 12 20.25Z"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <svg
          width="24"
          height="24"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
            stroke="white"
            stroke-width="2"
            stroke-miterlimit="10"
          />
          <path
            d="M3.875 27C5.10367 24.8714 6.87104 23.1038 8.99944 21.8749C11.1278 20.6459 13.5423 19.9989 16 19.9989C18.4577 19.9989 20.8722 20.6459 23.0006 21.8749C25.129 23.1038 26.8963 24.8714 28.125 27"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>

    <div class="bottom-Nav flex justify-between">
      <div class="container-left-bottom-nav w-2/3">
        <ul class="main-ul w-full flex justify-items-start gap-1">
          <li id="mainLink">
            <a href="#" class="bottom-link">All Category </a>

            <div class="container-menu">
              <ul class="flex justify-between flex-col gap-2">
                <li><a href="#">Computer & Laptop</a></li>
                <li><a href="#">Computer Accessories</a></li>
                <li id="mainLink">
                  <a href="#">SmartPhone</a>

                  <div class="container-menu container-inner">
                    <ul class="flex justify-between flex-col gap-2">
                      <li><a href="#">Computer & Laptop</a></li>
                      <li><a href="#">Computer Accessories</a></li>
                      <li><a href="#">SmartPhone</a></li>
                      <li><a href="#">Headphone</a></li>
                      <li><a href="#">Mobile Accessories</a></li>
                      <li><a href="#">Gaming Console</a></li>
                      <li><a href="#">Camera & Photo</a></li>
                      <li><a href="#">TV & Homes Appliances</a></li>
                      <li><a href="#">GPS & Navigation</a></li>
                      <li><a href="#">Warable Technology</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">Headphone</a></li>
                <li><a href="#">Mobile Accessories</a></li>
                <li><a href="#">Gaming Console</a></li>
                <li><a href="#">Camera & Photo</a></li>
                <li><a href="#">TV & Homes Appliances</a></li>
                <li><a href="#">GPS & Navigation</a></li>
                <li><a href="#">Warable Technology</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" class="bottom-link">Track Order</a></li>
          <li><a href="#" class="bottom-link">Compare</a></li>
          <li><a href="#" class="bottom-link">Customer Support</a></li>
          <li><a href="#" class="bottom-link">Need Help</a></li>
        </ul>
      </div>

      <div class="container-right-bottom-nav w-50 flex justify-end">
        <p>+1-202-555-0104</p>
      </div>
    </div>
  </div>
</nav>

{% endblock %}
