<!-- extends to base html template -->
{% extends 'base.html' %}

<!-- loads static content here -->
{% load static %}

<!-- block title for page -->
{% block title %} compare {% endblock %}

<!-- main content goes here -->
{% block content %}
<div class="container-compare- w-full">
  <div class="container-compare-padding- w-full">
    <table class="compare-table-row table">
      <thead>
        <tr>
          <th class="h-[200px]"></th>

          {% if comparisons %} {% for comparison in comparisons %}
          <th>
            <div class="container-product p-2">
              <div class="container-product-img w-full">
                <img
                  src="{{ comparison.product.images.first.image.url }}"
                  alt="{{ comparison.product.brand.name}}"
                  class="w-full"
                  width="100"
                />

                {% for badge in comparison.product.product_badge.all %}
                <div class="container-product-status">
                  {% if badge.is_active %}
                  <!-- checking badge type -->
                  {% if badge.bade_type == 'sold_out' %}
                  <p class="sold-out">{{ badge.bade_type }}</p>

                  <!-- off price -->
                  {% elif badge.bade_type == 'off-price' %}
                  <p class="off-price">{{ badge.bade_type }}</p>

                  <!-- hot -->
                  {% elif badge.bade_type == 'hot' %}
                  <p class="hot">{{ badge.bade_type }}</p>

                  <!-- best deal -->
                  {% elif badge.bade_type == 'best_deal' %}
                  <p class="best_deal">{{ badge.bade_type }}</p>

                  <!-- sale -->
                  {% elif badge.bade_type == 'sale' %}
                  <p class="sale">{{ badge.bade_type }}</p>

                  <!-- new -->
                  {% elif badge.bade_type == 'new' %}
                  <p class="new">{{ badge.bade_type }}</p>

                  {% endif %}
                  <!-- ends -->
                  {% endif %}
                </div>
                {% endfor %}

                <div class="container-modal-product-2"></div>
              </div>

              <div class="container-items p-1">
                <span class="star-span flex justify-items-start">
                  <!-- star svgs here -->

                  <p class="ml-2 review-">{{ product.rating_count }}</p>
                </span>

                {% if comparison.product.category.slug %}
                <!--  -->
                {% if comparison.product.slug %}
                <!--  -->
                {% if comparison.product.child.slug %}
                <a
                  href="{% url 'product_details' category_slug=comparison.product.category.first.slug child_slug=comparison.product.category.last.slug product_slug=comparison.product.slug %}"
                >
                  <p class="description-2 mt-2">
                    {{ comparison.product.name }}
                  </p>
                </a>
                {% endif %} {% endif %} {% endif %}

                <div class="container-btns-- flex justify-between gap-2 mt-3">
                  <button class="p-2 add-to-cart_btn flex justify-center">
                    <img
                      src="{% static 'images/svg/shoppingcart.svg' %}"
                      alt="shoppingcart"
                      width="15"
                    />
                    <span class="h-full">Add to card</span>
                  </button>

                  <button class="p-2 btn-love-product">
                    <img
                      src="{% static 'images/svg/Heartdark.svg' %}"
                      alt="Heart"
                      width="15"
                    />
                  </button>
                </div>
              </div>
            </div>
          </th>
          {% endfor %} {% endif %}
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><span class="table-txt">Customer feedback:</span></td>
          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            <span class="star-span flex justify-items-start">
              <!-- star svgs goes here -->
              <p class="ml-2 review-">{{ product.rating_count }}</p>
            </span>
          </td>
          {% endfor %} {% else %}
          <td>-</td>
          {% endif %}
        </tr>

        <tr>
          <td><span class="table-txt">Price:</span></td>
          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            <strong class="price">${{ comparison.product.base_price }}</strong>
          </td>
          {% endfor %}{% else %}
          <td>-</td>
          {% endif %}
        </tr>

        <tr>
          <td><span class="table-txt"> Sold by: </span></td>
          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            <span class="table-items-txt">{{ comparison.product.brand }}</span>
          </td>
          {% endfor %} {% else %}
          <td>-</td>
          {% endif %}
        </tr>

        <tr>
          <td><span class="table-txt">Brand:</span></td>
          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            <span class="table-items-txt">{{ comparison.product.brand }}</span>
          </td>
          {% endfor %} {% else %}
          <td>-</td>
          {% endif %}
        </tr>

        <tr>
          <td><span class="table-txt">Model:</span></td>
          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            <span class="table-items-txt">{{ comparison.product.brand }}</span>
          </td>
          {% endfor %} {% else %}
          <td>-</td>
          {% endif %}
        </tr>

        <tr>
          <td><span class="table-txt">Stock status:</span></td>

          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            {% with comparison.product.variant.first as variant %}
            <!--  -->
            {% if variant.availability == 'In Stock' %}
            <span class="in-stock">{{ variant.availability }}</span>
            {% elif variant.availability == 'Out of Stock' %}
            <span class="out-stock">{{ variant.availability }}</span>
            {% else %}
            <span class="low-stock">{{ variant.availability }}</span>
            {% endif %} {% endwith %}
          </td>
          {% endfor %} {% else %}
          <td>-</td>
          {% endif %}
        </tr>

        <tr>
          <td><span class="table-txt">Size:</span></td>
          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            <span class="table-items-txt"
              >{{ comparison.product.specification.first.size }}</span
            >
          </td>
          {% endfor %} {% else %}
          <td>-</td>
          {% endif %}
        </tr>

        <tr>
          <td><span class="table-txt">Weight:</span></td>
          {% if comparisons %} {% for comparison in comparisons %}
          <td>
            <span class="table-items-txt"
              >{{ comparison.product.specification.first.storage }}</span
            >
          </td>
          {% endfor %} {% else %}
          <td>-</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
