{% load static %}

<!-- main content -->
{% block content %}
<div class="container-main-product-list-wrapper">
  <div class="container-product-list-">
    <div class="header-"><p>FLASH SALE TODAY</p></div>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>
  </div>

  <div class="container-product-list-">
    <div class="header-"><p>TOP RATED</p></div>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>
  </div>

  <div class="container-product-list-">
    <div class="header-"><p>NEW ARRIVAL</p></div>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...</p>
          <span class="price">$1,500</span>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
