{% load static %}

<!-- content -->
{% block content %}
<div class="container-shopping-category mt-10">
  <div class="container-shopping-cart-padder">
    <header class="header-shopping-cart">
      <h1 class="text-center">Shop with Categorys</h1>
    </header>

    <div class="container-shop-category-main mt-5">
      <div class="container-padder flex justify-between gap-5">
        {% for top_category in top_categories %}
        <a href="/home/shop/{{ top_category.category.slug }}">
          <div class="container-category flex justify-between flex-col">
            {% if top_category.category.image %}
            <img
              src="{{ top_category.category.image.url }}"
              alt="category-computer"
            />
            {% endif %}

            <div class="container-category-name">
              <p class="text-center">{{ top_category.category.name }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
