{% load static %}

<!-- main content -->
{% block content %}
<div class="container-main-product-list-wrapper">
  {% if related_products %}
  <div class="container-product-list-">
    <div class="header-"><p>RELATED PRODUCT</p></div>

    <!-- loop through all product -->
    {% for related_product in related_products %}
    <a
      href="{% url 'product_details' category_slug=related_product.category.first.slug child_slug=related_product.category.last.slug product_slug=related_product.slug %}"
    >
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{{ related_product.images.first.image.url }}"
            alt="{{ related_product.brand.name }}"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>{{ related_product.name }}</p>
          <span class="price">{{ related_product.base_price }}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}

  <!-- product accessories -->
  {% if product_accessories %}
  <div class="container-product-list-">
    <div class="header-"><p>PRODUCT ACCESSORIES</p></div>

    {% for product_accessory in product_accessories %}
    <a
      href="{% url 'product_details' category_slug=product_accessory.category.first.slug child_slug=product_accessory.category.last.slug product_slug=product_accessory.slug %}"
    >
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{{ product_accessory.images.first.image.url }}"
            alt="{{ product_accessory.brand }}"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>{{ product_accessory.name }}</p>
          <span class="price">${{ product_accessory.base_price }}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}

  <!-- feature product -->
  {% if feature_products %}
  <div class="container-product-list-">
    <div class="header-"><p>FEATURED PRODUCTS</p></div>

    {% for feature_product in feature_products %}
    <a
      href="{% url 'product_details' category_slug=feature_product.product.category.first.slug child_slug=feature_product.product.category.last.slug product_slug=feature_product.product.slug %}"
    >
      <div class="container-product-main flex justify-between mt-3">
        <div class="container-img">
          <img
            src="{{ feature_product.product.images.first.image.url }}"
            alt="{{ feature_products.product.brand.name }}"
            width="100"
          />
        </div>
        <div class="articles-main">
          <p>{{ feature_product.product.name }}</p>
          <span class="price">${{ feature_product.product.base_price }}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
