{% load static %}

<!-- content here  -->
{% block content %}
<div class="container-homepage-best-deals flex justify-between w-full mt-5">
  {% if best_deals_products %}
  <div class="container-left-bg-product">
    {% if best_hot_deals %}
    <div class="container-product w-100% h-fit">
      <div class="padder-container- w-100% p-2">
        <div class="container-product-img w-full">
          <img
            src="{{ best_hot_deals.images.first.image.url }}"
            alt="{{ best_hot_deals.brand }}"
            class="w-full"
            width="100"
          />

          {% for badge in best_hot_deals.product_badge.all %}
          <div class="container-product-status">
            {% if badge.is_active %}
            <!-- checking badge type -->
            {% if badge.bade_type == 'sold_out' %}
            <p class="sold-out">{{ badge.get_bade_type_display }}</p>

            <!-- off price -->
            {% elif badge.bade_type == 'off-price' %}
            <p class="off-price">{{ badge.get_bade_type_display }}</p>

            <!-- hot -->
            {% elif badge.bade_type == 'hot' %}
            <p class="hot">{{ badge.get_bade_type_display }}</p>

            <!-- best deal -->
            {% elif badge.bade_type == 'best_deal' %}
            <p class="best_deal">{{ badge.get_bade_type_display }}</p>

            <!-- sale -->
            {% elif badge.bade_type == 'sale' %}
            <p class="sale">{{ badge.get_bade_type_display }}</p>

            <!-- new -->
            {% elif badge.bade_type == 'new' %}
            <p class="new">{{ badge.get_bade_type_display }}</p>

            {% endif %}
            <!-- ends -->
            {% endif %}
          </div>
          {% endfor %}

          <div class="container-modal-product">
            <button>
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.625 7.49803 3.01546 6.40585 3.72996 5.53431C4.44445 4.66277 5.43884 4.0657 6.54393 3.84468C7.64903 3.62366 8.79657 3.79235 9.79131 4.32204C10.7861 4.85174 11.5665 5.70972 12 6.75001C12.4335 5.70972 13.2139 4.85174 14.2087 4.32204C15.2034 3.79235 16.351 3.62366 17.4561 3.84468C18.5612 4.0657 19.5555 4.66277 20.27 5.53431C20.9845 6.40585 21.375 7.49803 21.375 8.62501C21.375 15 12 20.25 12 20.25Z"
                  stroke="#191C1F"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>

            <button>
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.5 19.5C7.91421 19.5 8.25 19.8358 8.25 20.25C8.25 20.6642 7.91421 21 7.5 21C7.08579 21 6.75 20.6642 6.75 20.25C6.75 19.8358 7.08579 19.5 7.5 19.5Z"
                  fill="#191C1F"
                  stroke="#191C1F"
                  stroke-width="1.5"
                />
                <path
                  d="M17.25 21.75C18.0784 21.75 18.75 21.0784 18.75 20.25C18.75 19.4216 18.0784 18.75 17.25 18.75C16.4216 18.75 15.75 19.4216 15.75 20.25C15.75 21.0784 16.4216 21.75 17.25 21.75Z"
                  fill="#191C1F"
                />
                <path
                  d="M3.96562 6.75H20.7844L18.3094 15.4125C18.2211 15.7269 18.032 16.0036 17.7711 16.2C17.5103 16.3965 17.1922 16.5019 16.8656 16.5H7.88437C7.55783 16.5019 7.2397 16.3965 6.97886 16.2C6.71803 16.0036 6.52893 15.7269 6.44062 15.4125L3.04688 3.54375C3.00203 3.38696 2.9073 3.24905 2.77704 3.15093C2.64677 3.05282 2.48808 2.99983 2.325 3H0.75"
                  stroke="#191C1F"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>

            <a
              href="{% url 'product_details' category_slug=best_hot_deals.category.first.slug child_slug=best_hot_deals.category.last.slug product_slug=best_hot_deals.slug %}"
            >
              <button>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 4.25C4.5 4.25 1.5 12 1.5 12C1.5 12 4.5 19.75 12 19.75C19.5 19.75 22.5 12 22.5 12C22.5 12 19.5 4.25 12 4.25Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>

        <div class="container-items pl-1.5 pr-2 pt-2">
          <span class="star-span flex justify-items-start">
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />

            <p class="ml-2">(52,677)</p>
          </span>

          <strong>
            <p class="mt-2">{{ best_hot_deals.name }}</p>
          </strong>
          <p class="price">
            {% if best_hot_deals.discount_price %}
            <span class="normal-price mr-3"
              >${{ best_hot_deals.discount_price }}</span
            >
            {% endif %}

            <span class="discount-price">${{ best_hot_deals.base_price }}</span>
          </p>

          <p class="description">{{ best_hot_deals.description }}</p>
        </div>

        <div
          class="container-btns-card mt-2 flex justify-between md:pb-4 pb-7 pl-1.5 pr-5 gap-2"
        >
          <button class="p-2 btn-love-product">
            <img
              src="{% static 'images/svg/Heartdark.svg' %}"
              alt="Heart"
              width="20"
            />
          </button>

          <button class="p-2 add-to-cart_btn flex justify-center">
            <img
              src="{% static 'images/svg/shoppingcart.svg' %}"
              alt="shoppingcart"
              width="20"
            />
            <span class="h-full">Add to card</span>
          </button>

          <button class="p-2 btn-love-product">
            <img src="{% static 'images/svg/Eye.svg' %}" alt="Eye" width="20" />
          </button>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- product for best deals here -->
  <div class="container-main-product h-full md:mt-0 mt-5">
    <div class="product-grid md:gap-0 gap-3">
      {% for best_deals_product in best_deals_products %}
      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{{ best_deals_product.images.first.image.url }}"
            alt="{{ best_deals_product.brand }}"
            class="w-full"
            width="100"
          />

          {% for badge in best_deals_product.product_badge.all %}
          <div class="container-product-status">
            {% if badge.is_active %}
            <!-- checking badge type -->
            {% if badge.bade_type == 'sold_out' %}
            <p class="sold-out">{{ badge.get_bade_type_display }}</p>

            <!-- off price -->
            {% elif badge.bade_type == 'off-price' %}
            <p class="off-price">{{ badge.get_bade_type_display }}</p>

            <!-- hot -->
            {% elif badge.bade_type == 'hot' %}
            <p class="hot">{{ badge.get_bade_type_display }}</p>

            <!-- best deal -->
            {% elif badge.bade_type == 'best_deal' %}
            <p class="best_deal">{{ badge.get_bade_type_display }}</p>

            <!-- sale -->
            {% elif badge.bade_type == 'sale' %}
            <p class="sale">{{ badge.get_bade_type_display }}</p>

            <!-- new -->
            {% elif badge.bade_type == 'new' %}
            <p class="new">{{ badge.get_bade_type_display }}</p>

            {% endif %}
            <!-- ends -->
            {% endif %}
          </div>
          {% endfor %}

          <div class="container-modal-product">
            <button>
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.625 7.49803 3.01546 6.40585 3.72996 5.53431C4.44445 4.66277 5.43884 4.0657 6.54393 3.84468C7.64903 3.62366 8.79657 3.79235 9.79131 4.32204C10.7861 4.85174 11.5665 5.70972 12 6.75001C12.4335 5.70972 13.2139 4.85174 14.2087 4.32204C15.2034 3.79235 16.351 3.62366 17.4561 3.84468C18.5612 4.0657 19.5555 4.66277 20.27 5.53431C20.9845 6.40585 21.375 7.49803 21.375 8.62501C21.375 15 12 20.25 12 20.25Z"
                  stroke="#191C1F"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>

            <button>
              <svg
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.5 19.5C7.91421 19.5 8.25 19.8358 8.25 20.25C8.25 20.6642 7.91421 21 7.5 21C7.08579 21 6.75 20.6642 6.75 20.25C6.75 19.8358 7.08579 19.5 7.5 19.5Z"
                  fill="#191C1F"
                  stroke="#191C1F"
                  stroke-width="1.5"
                />
                <path
                  d="M17.25 21.75C18.0784 21.75 18.75 21.0784 18.75 20.25C18.75 19.4216 18.0784 18.75 17.25 18.75C16.4216 18.75 15.75 19.4216 15.75 20.25C15.75 21.0784 16.4216 21.75 17.25 21.75Z"
                  fill="#191C1F"
                />
                <path
                  d="M3.96562 6.75H20.7844L18.3094 15.4125C18.2211 15.7269 18.032 16.0036 17.7711 16.2C17.5103 16.3965 17.1922 16.5019 16.8656 16.5H7.88437C7.55783 16.5019 7.2397 16.3965 6.97886 16.2C6.71803 16.0036 6.52893 15.7269 6.44062 15.4125L3.04688 3.54375C3.00203 3.38696 2.9073 3.24905 2.77704 3.15093C2.64677 3.05282 2.48808 2.99983 2.325 3H0.75"
                  stroke="#191C1F"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>

            <a
              href="{% url 'product_details' category_slug=best_deals_product.category.first.slug child_slug=best_deals_product.category.last.slug product_slug=best_deals_product.slug %}"
            >
              <button>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 4.25C4.5 4.25 1.5 12 1.5 12C1.5 12 4.5 19.75 12 19.75C19.5 19.75 22.5 12 22.5 12C22.5 12 19.5 4.25 12 4.25Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">{{ best_deals_product.name }}</p>

          <p class="price mt-2">
            <span class="discount-price"
              >${{ best_deals_product.base_price }}</span
            >
          </p>
        </div>
      </div>
      {% endfor %}

      <!-- product-grid ends -->
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
