{% load static %}

<!-- content here  -->
{% block content %}

<div class="container-homepage-best-deals flex justify-between w-full mt-5">
  <div class="container-left-bg-product">
    <div class="container-product w-100% h-fit">
      <div class="padder-container- w-100% p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/p5Image.png' %}"
            alt="p5Image"
            class="w-full"
            width="100"
          />

          <div class="container-product-status">
            <p class="off-price">32% OFF</p>
            <p class="hot">HOT</p>
          </div>

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items pl-1.5 pr-2 pt-2">
          <span class="star-span flex justify-items-start">
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />
            <img src="{% static 'images/svg/Star.svg' %}" alt="star" />

            <p class="ml-2">(52,677)</p>
          </span>

          <strong>
            <p class="mt-2">
              Xbox Series S - 512GB SSD Console with Wireless Controller - EU
              Version and the rest
            </p>
          </strong>
          <p class="price">
            <span class="normal-price mr-3">$865.99</span
            ><span class="discount-price">$442.12</span>
          </p>

          <p class="description">
            Games built using the Xbox Series X|S development kit showcase
            unparalleled load times, visuals.
          </p>
        </div>

        <div
          class="container-btns-card mt-2 flex justify-between md:pb-4 pb-7 pl-1.5 pr-5 gap-2"
        >
          <button class="p-2 btn-love-product">
            <img
              src="{% static 'images/svg/Heartdark.svg' %}"
              alt="Heart"
              width="20"
            />
          </button>

          <button class="p-2 add-to-cart_btn flex justify-center">
            <img
              src="{% static 'images/svg/shoppingcart.svg' %}"
              alt="shoppingcart"
              width="20"
            />
            <span class="h-full">Add to card</span>
          </button>

          <button class="p-2 btn-love-product">
            <img src="{% static 'images/svg/Eye.svg' %}" alt="Eye" width="20" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- product for best deals here -->
  <div class="container-main-product h-full md:mt-0 mt-5">
    <div class="product-grid md:gap-0 gap-3">
      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/droneImage.png' %}"
            alt="droneImage"
            class="w-full"
            width="100"
          />

          <div class="container-product-status">
            <p class="sold-out">SOLD OUTs</p>
          </div>

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear
          </p>

          <p class="price mt-2"><span class="discount-price">$2,300</span></p>
        </div>
      </div>

      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/smartphoneImage.png' %}"
            alt="product/smartphoneImage"
            class="w-full"
            width="100"
          />

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            Simple Mobile 4G LTE Prepaid Smartphone
          </p>

          <p class="price mt-2"><span class="discount-price">$220</span></p>
        </div>
      </div>

      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/p5controllerImage.png' %}"
            alt="p5Image"
            class="w-full"
            width="100"
          />

          <div class="container-product-status">
            <p class="off-price">19% OFF</p>
          </div>

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            4K UHD LED Smart TV with Chromecast Built-in
          </p>

          <p class="price mt-2"><span class="discount-price">$1,50</span></p>
        </div>
      </div>

      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/headsetImage.png' %}"
            alt="p5Image"
            class="w-full"
            width="100"
          />

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            Sony DSCHX8 High Zoom Point & Shoot Camera
          </p>

          <p class="price mt-2"><span class="discount-price">$1,200</span></p>
        </div>
      </div>

      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/adnroid-3-Image.png' %}"
            alt="p5Image"
            class="w-full"
            width="100"
          />

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            Dell Optiplex 7000x7480 All-in-One Computer Monitor
          </p>

          <p class="price mt-2"><span class="discount-price">$299</span></p>
        </div>
      </div>

      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/dronecontrolImage.png' %}"
            alt="p5Image"
            class="w-full"
            width="100"
          />

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            Portable Wshing Machine, 11lbs capacity Model 18NMFIAM
          </p>

          <p class="price mt-2">
            <span class="normal-price mr-3">$865.99</span
            ><span class="discount-price">$70</span>
          </p>
        </div>
      </div>

      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/desktopImage.png' %}"
            alt="p5Image"
            class="w-full"
            width="100"
          />

          <div class="container-product-status">
            <p class="hot">HOT</p>
          </div>

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            2-Barrel Carburetor Carb 2100 Engine Increase Horsepower
          </p>

          <p class="price mt-2"><span class="discount-price">$160</span></p>
        </div>
      </div>

      <div class="container-product p-2">
        <div class="container-product-img w-full">
          <img
            src="{% static 'images/product/cameraImage.png' %}"
            alt="p5Image"
            class="w-full"
            width="100"
          />

          <div class="container-product-status">
            <p class="off-price">32% OFF</p>
          </div>

          <div class="container-modal-product">
            <button href="#">
              <img
                src="{% static 'images/svg/Heart.svg' %}"
                alt="Heart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/ShoppingCartSimple.svg' %}"
                alt="shoppingcart"
                width="20"
              />
            </button>

            <button href="#">
              <img
                src="{% static 'images/svg/Eye.svg' %}"
                alt="Eye"
                width="20"
              />
            </button>
          </div>
        </div>

        <div class="container-items p-1">
          <p class="description-2 mt-2">
            JBL FLIP 4 - Waterproof Portable Bluetooth Speaker - Black
          </p>

          <p class="price mt-2">
            <span class="normal-price mr-3">$360</span
            ><span class="discount-price">$250</span>
          </p>
        </div>
      </div>

      <!-- product-grid ends -->
    </div>
  </div>
</div>

{% endblock %}
