@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

.product-card {
  .container-product {
    border: 1px solid variables.$Gray-100;
    width: 200px;

    .review- {
      font-size: 12px;
    }
  }
}

.compare-table-row {
  .container-modal-product-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000033;
    opacity: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 222;
  }

  .container-product {
    width: 100%;
    border: none;
    position: relative;
  }
}
