@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

// newsletter form
.newsletter-form {
  width: 50%;
  align-self: center;
  display: flex;
  justify-self: center;

  @media only screen and (max-width: 678px) {
    width: 85%;
  }

  .container-newsletter-form- {
    background-color: white;
    gap: 16px;
    border-radius: 3px;
    padding: 5px 15px;
    padding-right: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .email-newsletter {
      background: transparent;
      outline: none;
      border: none;
      width: 90%;
      font-size: 14px;
      color: variables.$Gray-500;
    }
  }
}

form {
  .container-info {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    color: variables.$Gray-600;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    align-items: center;
    vertical-align: middle;
  }
}

// customer support
.customer-support {
  .form-control {
    border: 1px solid #e4e7e9;
    padding: 10px;
    padding-left: 13px;
    align-items: center;
    border-radius: 2px;
    width: 100%;

    .btn-search-customer-support {
      padding: 10px 25px;
      gap: 8px;
      border-radius: 2px;
      background-color: variables.$Primary-500;
      color: variables.$White-100;
      font-size: 13px;
      height: 100%;
    }

    input[type="search"] {
      border: none;
    }
  }
}

// comments form for blog post
.blog-post-comments-form {
  .container-form-input-holder {
    width: 100%;

    .form-control {
      width: 100%;
    }
  }
}

// aside blog search box
.aside-blog-details-search {
  .input-control {
    border: 1px solid #e4e7e9;
    align-items: center;
    padding-right: 10px;

    input {
      border: none;
    }
  }
}
