@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

.container-about-page- {
  width: 100vw;

  .container-about-page-container-padding {
    width: 100%;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    @include mixin.pagePadding;

    .container-items-display-about {
      .container-img-about-right {
        flex: 1;
      }

      .container-articles-left {
        flex: 1.2;

        h1 {
          color: variables.$Gray-900;
          font-weight: 600;
          font-size: 20px;
        }

        .main-articles {
          color: variables.$Gray-700;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0%;
        }

        .container-articles- {
          .container-txt {
            p {
              color: variables.$Gray-900;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0%;
              align-items: center;
            }
          }
        }
      }
    }

    .container-team- {
      width: 100%;
      margin-top: 40px;
      padding-top: 30px;
      box-shadow: 0px 1px 0px 0px #e4e7e9 inset;

      .container-header-about-team {
        width: 100%;
        text-align: center;

        h2 {
          color: variables.$Gray-900;
          font-weight: 600;
          font-size: 20px;
          line-height: 40px;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .container-main-teams-grid- {
        display: grid;
        grid-template-columns: repeat(1, 0.6fr);
        gap: 20px;
        place-items: center;
        width: 100%;

        @media only screen and (min-width: 600px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: 800px) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (min-width: 1200px) {
          grid-template-columns: repeat(4, 1fr);
        }

        .container-grid-container-main {
          border: 1px solid #e4e7e9;
          border-radius: 3px;
          border-width: 1px;

          .container-grid-container-main-padding- {
            padding: 20px 16px;
            align-items: center;

            .container-articles {
              .container-txt {
                strong {
                  color: variables.$Gray-900;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 24px;
                  letter-spacing: 0%;
                }
              }

              .container-row-txt {
                p {
                  color: variables.$Gray-700;
                  font-weight: 400;
                  font-size: 13px;
                  line-height: 20px;
                  letter-spacing: 0%;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}

.container-banner-about-page {
  width: 100vw;
  background-image: url("/static/images/about-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
  @include mixin.pagePadding;

  strong {
    color: variables.$Gray-900;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0%;
  }

  p {
    color: variables.$Gray-900;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
