@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

// login form
.container-login_form--,
.container-register_form--,
.container-pwd-request_form-- {
  padding: 0;
  margin: 0;
  position: relative;

  .container-login-padding,
  .container-register-padding,
  .container-pdw-request-padding {
    padding: 15px;

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 13px;

      .input-container- {
        width: 100%;

        input {
          margin-top: 5px;
          width: 100%;
          height: 36px;
          border-radius: 2px;
          border-width: 1px;
          border: 1px solid #e4e7e9;
          background: #ffffff;
          outline: none;
          padding: 0 10px;
          font-size: 13px;
        }
      }
    }
  }
}

.container-others {
  padding: 0 15px;
  position: relative;
  padding-top: 5px;

  .divider {
    border: 1px solid #e4e7e9;
    top: 10px;
    border-width: 1px;
    margin-bottom: 25px;
  }
}

.container-login_form-- {
  .svg-eye {
    position: absolute;
    right: 25px;
    margin-top: -30px;
  }
}

.container-register_form-- {
  .svg-eye {
    position: absolute;
    right: 25px;
    margin-top: 12px;
  }
}

.container-login-form-main-page {
  @media only screen and (max-width: 889px) {
    height: 80vh;
  }

  .container-log-sign-naviagator {
    a {
      &:first-child {
        color: variables.$Gray-900 !important;
        border-bottom: 2px solid #fa8232 !important;
      }
    }
  }
}

.input-container-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  label {
    color: variables.$Gray-600;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    justify-items: flex-start;
    white-space: nowrap;
    gap: 3px;

    a {
      color: variables.$Secondary-500;
      text-decoration: underline;
    }
  }

  .container-checkbox {
    input[type="checkbox"] {
      border-radius: 0;
      width: 16px;
      height: 16px;
    }
  }
}

.container-register-form-main-page {
  .container-log-sign-naviagator {
    a {
      &:last-child {
        color: variables.$Gray-900 !important;
        border-bottom: 2px solid #fa8232 !important;
      }
    }
  }
}

.container-pwd-reset-form-main-page {
  @media only screen and (max-width: 889px) {
    height: 80vh;
  }

  .container-pwd-reset-form-main-page-padding {
    .container-main-pwd-request-page {
      padding: 30px !important;
      padding-top: 20px !important;
    }
  }
}

// auth pages
.container-login-form-main-page,
.container-register-form-main-page,
.container-pwd-reset-form-main-page {
  width: 100vw;

  .container-login-form-main-page-padding,
  .container-register-form-main-page-padding,
  .container-pwd-reset-form-main-page-padding {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    @include mixin.pagePadding;

    .container-main-login-page,
    .container-main-pwd-request-page,
    .container-main-register-page {
      max-width: 380px;
      min-width: 380px;
      border: 1px solid #e4e7e9;
      box-shadow: 0px 8px 40px 0px #0000001f;
      padding: 20px;
      padding-bottom: 30px;
      padding-top: 0;

      .container-log-sign-naviagator {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;

        a {
          padding: 15px 58px;
          color: variables.$Gray-500;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          white-space: nowrap;
          border-bottom: 1px solid #e4e7e9;

          &:not(:last-child) {
            border-right: 1px solid #e4e7e9;
          }
        }
      }

      .container-others {
        p {
          margin-left: 80px;
        }
      }

      .container-other-social-auth {
        width: 100%;
        padding: 0 15px;

        .container-social-method {
          width: 100%;
          display: flex;
          justify-content: start;
          border: 1px solid #e4e7e9;
          padding: 10px;
          cursor: pointer;

          .wrapper-svg-social-media {
            margin-right: 70px;
          }

          span {
            color: variables.$Gray-700;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
          }
        }
      }
    }
  }
}
