@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

.container-checkout-shopping-cart {
  width: 100vw;

  .container-checkout-shopping-cart-padding {
    width: 100%;
    padding-top: 3.5% !important;
    padding-bottom: 3.5% !important;
    @include mixin.pagePadding;

    @media only screen and (max-width: 1234px) {
      flex-direction: column;
    }

    .container-billing-information-cart-checkout {
      width: 100%;
      flex: 2;

      .container-user-input-control {
        align-items: center;
      }

      .container-shipping-options {
        border: 1px solid #e4e7e9;

        .header-container-shipping-options {
          padding: 10px 20px;
          border-bottom: 1px solid #e4e7e9;
        }

        .container-payment-checkbox-container- {
          border-bottom: 1px solid #e4e7e9;
          padding: 20px 0;

          @media only screen and (max-width: 768px) {
            padding: 0 25px;
          }

          .container-payment-option-wrapper {
            padding: 0 25px;
            align-items: center;

            &:not(:last-child) {
              border-right: 1px solid #e4e7e9;
            }

            @media only screen and (max-width: 768px) {
              border-right: none;
              padding: 25px;

              &:not(:last-child) {
                border-right: none;
                border-bottom: 1px solid #e4e7e9;
              }
            }

            label {
              white-space: nowrap;
            }
          }
        }

        .container-card {
          padding: 0 20px;
          padding-bottom: 20px;
        }
      }
    }

    .container-right-product-order-- {
      width: 100%;
      flex: 1;

      @media only screen and (max-width: 1234px) {
        flex: 0;
        width: 50%;
      }
    }
  }
}

.container-order-placed- {
  width: 100vw;
  height: 70vh;

  .container-order-placed-padding- {
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 8% !important;
    padding-bottom: 8% !important;
    @include mixin.pagePadding;

    .container-articles {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h1 {
        color: variables.$Gray-900;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;
      }

      p {
        margin-top: 10px;
        color: variables.$Gray-600;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        width: 50%;
        text-align: center;

        @media only screen and (max-width: 877px) {
          width: 100%;
        }
      }
    }
  }
}
