@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixin;

.container--adds-one {
  width: 100vw;
  height: auto;
  padding-top: 3%;

  .container-add-padder {
    width: 100%;
    margin-bottom: 5%;
    @include mixin.pagePadding;

    .container-top-padder {
      width: 100%;
      height: 70vh;

      @media only screen and (max-width: 768px) {
        height: fit-content;
      }

      .container-big-add-left {
        background-color: variables.$Gray-50;
        width: 70%;
        height: 100%;
        border-radius: 6px;

        @media only screen and (max-width: 1216px) {
          width: 70%;
        }

        @media only screen and (max-width: 1116px) {
          width: 100%;
        }

        .-container-articles {
          @media only screen and (max-width: 1216px) {
            padding-top: 10%;
          }
        }
      }

      .container-small-add-right {
        width: 40%;
        height: 100% !important;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;

        @media only screen and (max-width: 1216px) {
          width: 40%;
        }

        @media only screen and (max-width: 1116px) {
          width: 100%;
        }

        // @media only screen and (max-width: 767px) {
        //   overflow-y: hidden;
        //   flex-direction: row;
        // }

        .container-sm-add-sm {
          background-color: variables.$Gray-50;
          height: 50%;
          border-radius: 6px;

          // @media only screen and (max-width: 767px) {
          //   width: 360px !important;
          // }
        }

        .container-sm-add-sm:first-child {
          background-color: variables.$Gray-900;
        }
      }
    }

    // features
    .container-features {
      width: 100%;
      gap: 28px;
      border-width: 1px;
      border-radius: 6px;
      border: 1.2px solid variables.$Gray-100;

      .features-padder {
        height: 100%;
        width: 100%;
        padding: 28px 16px;

        @media only screen and (max-width: 658px) {
          display: block;
          padding: 28px 40px;
        }

        .container-items:not(:last-child) {
          border-right: 1.4px solid variables.$Gray-100;

          @media only screen and (max-width: 658px) {
            border-right: none;
            border-bottom: 0.1px solid variables.$Gray-100;
          }
        }

        .container-items {
          width: fit-content;
          padding: 0 25px;

          @media only screen and (max-width: 658px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            text-align: center;
          }

          .container-- {
            @media only screen and (max-width: 658px) {
              width: 100%;
              display: flex;
              justify-content: center;
            }
          }

          h2 {
            color: variables.$Gray-900;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0%;
            text-transform: uppercase;
          }

          p {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 0%;
            color: variables.$Gray-600;
          }
        }
      }
    }

    // Best Deals
    .container-best-deals {
      width: 100%;

      .wrapper-best-deals {
        width: 100%;

        .header-best-deals {
          width: 100%;
        }
      }
    }

    // featured products
    .container-featured-product {
      width: 100%;

      .container-featured-padder-product {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
          display: block;
        }

        .conainer-left-container-items {
          width: 37%;
          height: 100%;

          @media (max-width: 992px) {
            width: 100%;
          }

          .container-main-content {
            background: variables.$Warning-300;
            width: 100%;
            padding: 30px 20px;
            height: 50%;

            .container-- {
              p {
                width: 173;
                height: 32;
                gap: 10px;
                border-radius: 2px;
                padding-top: 6px;
                padding-right: 4px;
                padding-bottom: 6px;
                padding-left: 4px;
                background: variables.$White-100;
                font-family: Public Sans;
                font-weight: 600;
                font-size: 10px;
                line-height: 20px;
                letter-spacing: 0%;
                color: variables.$Gray-900;
              }

              span {
                font-family: Public Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0%;
                color: variables.$Gray-900;
                padding-top: 6px;
                padding-bottom: 6px;
              }
            }

            span {
              font-family: Public Sans;
              font-weight: 400;
              font-size: 12px;
              line-height: 24px;
              letter-spacing: 0%;
              text-align: center;
              color: variables.$Gray-700;
            }

            h1 {
              font-family: Public Sans;
              font-weight: 600;
              font-size: 20px;
              line-height: 40px;
              letter-spacing: 0%;
              text-align: center;
              color: variables.$Gray-900;
            }

            p {
              font-family: Public Sans;
              font-weight: 600;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0%;
              text-align: center;
              color: variables.$Danger-600;
            }
          }

          img {
            width: 100%;
          }
        }

        .container-featured-products {
          width: 100%;

          @media (max-width: 992px) {
            width: 100%;
          }

          .container-products-features-padder {
            width: 100%;

            @media (max-width: 992px) {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
