{% load static %}

<!-- main content -->
{% block content %}

<!-- products -->
<div class="container-computer-acc-products">
  <div class="container-products-acc-padder pr-6">
    <header class="header-acc-product w-full flex justify-between">
      <div class="container-left-container flex justify-items-start h-full">
        <h1>Computer Accessories</h1>

        <!-- checks if theres is slug -->
        {% if computer_category %}
        <a
          href="{% url 'shop_category' category_slug=computer_category.slug %}"
          class="w-1/2"
        >
          <div class="flex justify-end">
            <p>Browse All Product</p>
            <svg
              class="mt-1 ml-2"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="#ff9d5c"
                />
              </g>
            </svg>
          </div>
        </a>
        {% else %}
        <a href="{% url 'shop' %}" class="w-1/2">
          <div class="flex justify-end">
            <p>Browse All Product</p>
            <svg
              class="mt-1 ml-2"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="#ff9d5c"
                />
              </g>
            </svg>
          </div>
        </a>
        {% endif %}
      </div>

      <div class="container-right-header flex justify-end gap-5">
        <!-- checks for computer accessories -->
        {% if child_categories %}
        <ul class="flex justify-end gap-3">
          {% for child in child_categories %}
          <li>
            <a
              class="cursor-pointer computer_acc_category_child"
              data-category_child="{{ child.name }}"
              >{{ child.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No product found</p>
        {% endif %}

        <!-- checks if theres is slug -->
        {% if computer_category %}
        <a
          href="{% url 'shop_category' category_slug=computer_category.slug %}"
          class="w-1/2"
        >
          <div class="flex justify-end">
            <p>Browse All Product</p>
            <svg
              class="mt-1 ml-2"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="#ff9d5c"
                />
              </g>
            </svg>
          </div>
        </a>
        {% else %}
        <a href="{% url 'shop' %}" class="w-1/2">
          <div class="flex justify-end">
            <p>Browse All Product</p>
            <svg
              class="mt-1 ml-2"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="#ff9d5c"
                />
              </g>
            </svg>
          </div>
        </a>
        {% endif %}
      </div>
    </header>

    {% if computer_accessories %}
    <div class="container-products-container-- h-full mt-5">
      <div class="product-grid gap-3">
        {% for computer_accessory in computer_accessories %}
        <div class="container-product p-2">
          <div class="container-product-img w-full">
            <img
              src="{{ computer_accessory.images.first.image.url }}"
              alt="{{ computer_accessory.brand }}"
              class="w-full"
              width="100"
            />

            {% for badge in computer_accessory.product_badge.all %}
            <div class="container-product-status">
              {% if badge.is_active %}
              <!-- checking badge type -->
              {% if badge.bade_type == 'sold_out' %}
              <p class="sold-out">{{ badge.get_bade_type_display }}</p>

              <!-- off price -->
              {% elif badge.bade_type == 'off-price' %}
              <p class="off-price">{{ badge.get_bade_type_display }}</p>

              <!-- hot -->
              {% elif badge.bade_type == 'hot' %}
              <p class="hot">{{ badge.get_bade_type_display }}</p>

              <!-- best deal -->
              {% elif badge.bade_type == 'best_deal' %}
              <p class="best_deal">{{ badge.get_bade_type_display }}</p>

              <!-- sale -->
              {% elif badge.bade_type == 'sale' %}
              <p class="sale">{{ badge.get_bade_type_display }}</p>

              <!-- new -->
              {% elif badge.bade_type == 'new' %}
              <p class="new">{{ badge.get_bade_type_display }}</p>

              {% endif %}
              <!-- ends -->
              {% endif %}
            </div>
            {% endfor %}

            <div class="container-modal-product">
              <button>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.625 7.49803 3.01546 6.40585 3.72996 5.53431C4.44445 4.66277 5.43884 4.0657 6.54393 3.84468C7.64903 3.62366 8.79657 3.79235 9.79131 4.32204C10.7861 4.85174 11.5665 5.70972 12 6.75001C12.4335 5.70972 13.2139 4.85174 14.2087 4.32204C15.2034 3.79235 16.351 3.62366 17.4561 3.84468C18.5612 4.0657 19.5555 4.66277 20.27 5.53431C20.9845 6.40585 21.375 7.49803 21.375 8.62501C21.375 15 12 20.25 12 20.25Z"
                    stroke="#191C1F"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>

              <button>
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.5 19.5C7.91421 19.5 8.25 19.8358 8.25 20.25C8.25 20.6642 7.91421 21 7.5 21C7.08579 21 6.75 20.6642 6.75 20.25C6.75 19.8358 7.08579 19.5 7.5 19.5Z"
                    fill="#191C1F"
                    stroke="#191C1F"
                    stroke-width="1.5"
                  />
                  <path
                    d="M17.25 21.75C18.0784 21.75 18.75 21.0784 18.75 20.25C18.75 19.4216 18.0784 18.75 17.25 18.75C16.4216 18.75 15.75 19.4216 15.75 20.25C15.75 21.0784 16.4216 21.75 17.25 21.75Z"
                    fill="#191C1F"
                  />
                  <path
                    d="M3.96562 6.75H20.7844L18.3094 15.4125C18.2211 15.7269 18.032 16.0036 17.7711 16.2C17.5103 16.3965 17.1922 16.5019 16.8656 16.5H7.88437C7.55783 16.5019 7.2397 16.3965 6.97886 16.2C6.71803 16.0036 6.52893 15.7269 6.44062 15.4125L3.04688 3.54375C3.00203 3.38696 2.9073 3.24905 2.77704 3.15093C2.64677 3.05282 2.48808 2.99983 2.325 3H0.75"
                    stroke="#191C1F"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>

              <a
                href="{% url 'product_details' category_slug=computer_accessory.category.first.slug child_slug=computer_accessory.category.last.slug product_slug=computer_accessory.slug %}"
              >
                <button>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 4.25C4.5 4.25 1.5 12 1.5 12C1.5 12 4.5 19.75 12 19.75C19.5 19.75 22.5 12 22.5 12C22.5 12 19.5 4.25 12 4.25Z"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </a>
            </div>
          </div>

          <div class="container-items p-1">
            <span class="star-span flex justify-items-start">
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />

              <p class="ml-2 review-">{{ computer_accessory.rating_count }}</p>
            </span>

            <!--  -->

            <!--  -->

            <p class="description-2 mt-2">{{ computer_accessory.name }}</p>

            <p class="price mt-2">
              <span class="discount-price"
                >${{ computer_accessory.base_price }}</span
              >
              {% if computer_accessory.discount_price %}
              <span class="normal-price mr-3"
                >{{ computer_accessory.discount_price }}</span
              >
              {% endif %}
            </p>
          </div>
        </div>
        {% endfor %}

        <!-- product-grid ends -->
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="conainer-right-container-items">
  {% if filter_computer_acc_ad %}
  <div class="top-container">
    {% if filter_computer_acc_ad.image %}
    <img
      src="{{ filter_computer_acc_ad.image.url }}"
      alt="{{ filter_computer_acc_ad.name }}"
    />
    {% endif %}

    <div class="container-main-content w-full text-center">
      <h1>{{ filter_computer_acc_ad.name }}</h1>
      <span>{{ filter_computer_acc_ad.description }}</span>

      <div class="container-- flex justify-center w-full gap-3">
        <span>Only for:</span>
        <p>${{ filter_computer_acc_ad.price }} USD</p>
      </div>

      <button class="mt-3">Shop now</button>
    </div>
  </div>
  {% endif %}

  <!--  -->
  {% if filter_computer_acc_ad_second %}
  <div class="bottom-container-computer-acc text-center">
    <p class="title">{{ filter_computer_acc_ad_second.title }}</p>
    <h2>{{ filter_computer_acc_ad_second.name }}</h2>
    <p>only for <span>SmartPhone</span> product.</p>

    <button class="btn-acc mt-3">Shop now</button>
  </div>
  {% endif %}
</div>
{% endblock %}
