{% load static %}

<!-- main content -->
{% block content %}
<div class="conainer-left-container-items">
  <div class="container-main-content w-full text-center">
    <p>COMPUTER & ACCESSORIES</p>
    <h1>32% Discount</h1>
    <span>For all ellectronics products</span>

    <div class="container-- flex justify-center w-full gap-3">
      <span>Offers ends in:</span>
      <p>ENDS OF CHRISTMAS</p>
    </div>

    <button class="mt-3">Shop now</button>
  </div>
  <img src="{% static 'images/Image.jpg' %}" alt="featured-img" />
</div>

<!-- products -->
<div class="container-featured-products">
  <div class="container-products-features-padder pl-8">
    <header class="header-featured-product w-full flex justify-between">
      <div class="container-left-container flex justify-items-start h-full">
        <h1>Featured Products</h1>

        <a href="{% url 'shop' %}" class="w-1/2">
          <div class="flex justify-end">
            <p>Browse All Product</p>
            <svg
              class="mt-1 ml-2"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="#ff9d5c"
                />
              </g>
            </svg>
          </div>
        </a>
      </div>

      <div class="container-right-header flex justify-end gap-5">
        <ul class="flex justify-end gap-3">
          <li><a class="cursor-pointer">All Product</a></li>
          <li><a href="#">Smart Phone</a></li>
          <li><a href="#">Laptop</a></li>
          <li><a href="#">Headphone</a></li>
          <li><a href="#">TV</a></li>
        </ul>

        <a href="{% url 'shop' %}" class="w-1/2">
          <div class="flex justify-end">
            <p>Browse All Product</p>
            <svg
              class="mt-1 ml-2"
              width="15"
              height="15"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <polygon
                  points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
                  fill="#ff9d5c"
                />
              </g>
            </svg>
          </div>
        </a>
      </div>
    </header>

    {% if featured_products %}
    <div class="container-products-container-- h-full mt-5">
      <div class="product-grid gap-3">
        {% for featured_product in featured_products %}
        <div class="container-product p-2">
          <div class="container-product-img w-full">
            <img
              src="{{ featured_product.images.first.image.url }}"
              alt="product/smartphoneImage"
              class="w-full"
              width="100"
            />
          </div>

          <div class="container-items p-1">
            <span class="star-span flex justify-items-start">
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />
              <img
                src="{% static 'images/svg/Star.svg' %}"
                alt="star"
                width="15"
              />

              <p class="ml-2 review-">{{ featured_product.rating_count }}</p>
            </span>

            <a
              href="{% url 'product_details' category_slug=featured_product.category.first.slug child_slug=featured_product.category.last.slug product_slug=featured_product.slug %}"
            >
              <p class="description-2 mt-2">{{ featured_product.name }}</p>
            </a>

            <p class="price mt-2">
              {% if featured_product.discount_price %}
              <span class="normal-price mr-3"
                >${{ featured_product.discount_price }}</span
              >
              {% endif %}

              <span class="discount-price"
                >${{ featured_product.base_price }}</span
              >
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  {% endblock %}
</div>
