// themes -----

$White-100: #ffffff;

$Primary-500: #fa8232;
$Primary-400: #ff9d5c;
$Primary-100: #ffe7d6;

$Secondary-700: #1b6392;
$Secondary-500: #2da5f3;
$Secondary-100: #d5edfd;
$Secondary-50: #eaf6fe;

$Success-500: #2db224;
$Success-100: #d5f0d3;
$Success-50: #eaf7e9;

$Warning-500: #ebc80c;
$Warning-400: #efd33d;
$Warning-300: #f3de6d;
$Warning-200: #f7e99e;
$Warning-100: #fbf4ce;

$Danger-600: #be4646;
$Danger-500: #ee5858;

$Shadow: #0000001f;

$Gray-900: #191c1f;
$Gray-800: #303639;
$Gray-700: #475156;
$Gray-600: #5f6c72;
$Gray-500: #77878f;
$Gray-400: #929fa5;
$Gray-300: #adb7bc;
$Gray-100: #e4e7e9;
$Gray-50: #f2f4f5;
