{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />

    <!-- base title -->
    <title>{% block title %} clicon online shopping store {% endblock %}</title>

    <!-- clicon page favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/logo-O.png' %}"
      type="image/x-icon"
    />

    <!-- external linking -->
    <!-- poppins font linking -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- linking to cascading stylesheet (css) -->
    <!-- tailwindcss output -->
    <link rel="stylesheet" href="{% static 'styles/output.css' %}" />
    <!-- clicon website main css file linking -->
    <link rel="stylesheet" href="{% static 'styles/clicon.css' %}" />

    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- Navbar ends -->

    {% if breadcrumbs %}
    <!-- breadcrumbs -->
    {% include 'includes/breadcrumbs.html' %}
    <!-- breadcrumbs ends -->
    {% endif %}

    <!-- sidebar for all pages -->
    {% include 'includes/sidebar.html' %}

    <div class="web-model"></div>

    <main class="user_account-base-file-wrapper">
      <div class="container-usr_account">
        <div class="container_user_account- flex justify-between gap-[40px]">
          <div class="container-sidebar">
            {% include 'includes/account_sidebar.html' %}
          </div>

          <div class="container-main">
            {% block content %}
            <!-- Default content -->
            {% endblock %}
          </div>
        </div>
      </div>
    </main>

    <!-- footer items goes here -->
    {% include 'includes/footer.html' %}
    <!-- footer ends -->

    <!-- main js for all pages -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- sop js for shop items -->
    <script src="{% static 'js/shop.js' %}"></script>

    <!-- js apis for fast and smooth UX -->
    <script src="{% static 'js/api.js' %}"></script>

    <!-- js form for handling all forms -->
    <script src="{% static 'js/forms.js' %}"></script>

    <!-- js jquery -->
    <script src="{% static 'js/jquery.js' %}"></script>
  </body>
</html>
