{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} clicon online shoping {% endblock %}</title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/logo-O.png' %}"
      type="image/x-icon"
    />

    <!-- external linking -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- linking to cascading stylesheet (css) -->
    <link rel="stylesheet" href="{% static 'styles/output.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/clicon.css' %}" />
  </head>
  <body>
    {% if show_extra %}
    <!-- page header ads -->
    {% include 'includes/page_header_ads.html' %}
    <!-- end if statement for ads -->
    {% endif %}

    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- Navbar ends -->

    <main>
      {% block content %}
      <!-- Default content -->
      {% endblock %}
    </main>

    <!-- news letter -->
    {% if show_extra %}
    <!-- includes -->
    {% include 'includes/newsletter.html' %}
    <!-- ending if statement for the template -->
    {% endif %}

    <!-- footer items goes here -->
    {% include 'includes/footer.html' %}
    <!-- footer ends -->

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/shop.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
  </body>
</html>
