<form method="POST" action="{% url 'register' %}">
  {% csrf_token %}

  <div>
    <label for="id_name">Full Name</label>
    <input
      type="text"
      name="name"
      id="id_name"
      value="{{ form.name.value|default_if_none:'' }}"
    />
    {{ form.name.errors }}
  </div>

  <div>
    <label for="id_email">Email Address</label>
    <input
      type="email"
      name="email"
      id="id_email"
      value="{{ form.email.value|default_if_none:'' }}"
    />
    {{ form.email.errors }}
  </div>

  <div>
    <label for="id_password1">Password</label>
    <input type="password" name="password1" id="id_password1" />
    {{ form.password1.errors }}
  </div>

  <div>
    <label for="id_password2">Confirm Password</label>
    <input type="password" name="password2" id="id_password2" />
    {{ form.password2.errors }}
  </div>

  <div>
    <label>
      <input type="checkbox" name="terms_accepted" id="id_terms_accepted" />
      Accept Terms & Conditions
    </label>
    {{ form.terms_accepted.errors }}
  </div>

  <button type="submit">Register</button>
</form>

<!-- # "C:\Users\Nelson\Documents\pgsql\bin\pg_ctl.exe" start -D "C:\Users\Nelson\Documents\psql\data" -w -->
