<!-- extends to base html template -->
{% extends 'base.html' %}

<!-- loads static data -->
{% load static %}

<!-- block title for page template -->
{% block title %} User Account Login {% endblock %}

<!-- block content-->
{% block content %}
<div class="container-pwd-reset-form-main-page">
  <div class="container-pwd-reset-form-main-page-padding">
    <div class="container-main-pwd-request-page w-full">
      <div class="reset-header text-center mb-2">
        <h1>Reset Password</h1>
        <span
          >Duis sagittis molestie tellus, at eleifend sapien pellque quis. Fusce
          lorem nunc, fringilla sit amet nunc.</span
        >
      </div>
      {% include 'accounts/forms/password_reset.html' %}
    </div>
  </div>
  {% endblock %}
</div>
