<!-- extends to base html template -->
{% extends 'base.html' %}

<!-- loads static data -->
{% load static %}

<!-- block title for page template -->
{% block title %} User Account Login {% endblock %}

<!-- block content-->
{% block content %}
<div class="container-pwd-reset-form-main-page">
  <div class="container-pwd-reset-form-main-page-padding">
    <div class="container-main-pwd-request-page w-full">
      <div class="reset-header text-center mb-2">
        <h1>Forget Password</h1>
        <span
          >Enter the email address or mobile phone number associated with your
          Clicon account.</span
        >
      </div>
      {% include 'accounts/forms/password_reset_request.html' %}

      <div class="container-visit-auth-page mt-3">
        <p class="whitespace-nowrap">
          Already have account? <a href="{% url 'login' %}">Sign In</a>
        </p>

        <p class="whitespace-nowrap">
          Don’t have account? <a href="{% url 'register' %}">Sign Up</a>
        </p>
      </div>

      <div class="container-bottom-container-request-pwd-reset mt-5">
        <p>
          You may contact
          <a href="#" class="whitespace-nowrap">Customer Service</a> for help
          restoring access to your account.
        </p>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
