<!-- loads static content -->
{% load static %}

<!-- load main content -->
{% block content %}
<div class="container-register_form-- w-full">
  <div class="container-register-padding w-full">
    <form
      method="post"
      class="register_form w-full"
      action="{% url 'register' %}"
      id="register_form"
    >
      {% csrf_token %}

      <div class="input-container w-full">
        <label for="name">User Name</label>
        <input
          type="text"
          name="username"
          id="name"
          value="{{ form.username.value|default_if_none:'' }}"
          class="{% if form.username.errors %}wrong_input_field{% endif %}"
        />

        <div class="container-error-msg mt-1">
          {% for error in form.username.errors %}
            <p class="error-msg">{{ error }}</p>
          {% empty %}
            <p class="error-msg"></p>
          {% endfor %}
        </div>
      </div>

      <div class="input-container w-full">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          id="email"
          value="{{ form.email.value|default_if_none:'' }}"
          class="{% if form.email.errors %}wrong_input_field{% endif %}"
        />

        <div class="container-error-msg mt-1">
          {% for error in form.email.errors %}
            <p class="error-msg">{{ error }}</p>
          {% empty %}
            <p class="error-msg"></p>
          {% endfor %}
        </div>
      </div>

      <div class="input-container w-full">
        <div class="container-password-forgot-pass flex justify-between">
          <label for="password1">Password</label>
        </div>
        <input
          type="password"
          name="password1"
          id="password1"
          placeholder="8+ characters"
          value="{{ form.password1.value|default_if_none:'' }}"
          class="{% if form.password1.errors %}wrong_input_field{% endif %}"
        />
        <a class="svg-eye cursor-pointer" id="register-svg-eye1">
          <svg
            fill="#000000"
            width="18px"
            height="18px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"
            />
          </svg>
        </a>

        <div class="container-error-msg mt-1">
          {% for error in form.password1.errors %}
            <p class="error-msg">{{ error }}</p>
          {% empty %}
            <p class="error-msg"></p>
          {% endfor %}
        </div>
      </div>

      <div class="input-container w-full password2">
        <div class="container-password-forgot-pass flex justify-between">
          <label for="password2">Confirm Password</label>
        </div>

        <input
          type="password"
          name="password2"
          id="password2"
          value="{{ form.password2.value|default_if_none:'' }}"
          class="{% if form.password2.errors %}wrong_input_field{% endif %}"
        />

        <a class="svg-eye cursor-pointer" id="register-svg-eye2">
          <svg
            fill="#000000"
            width="18px"
            height="18px"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"
            />
          </svg>
        </a>

        <div class="container-error-msg mt-1">
          {% for error in form.password2.errors %}
            <p class="error-msg">{{ error }}</p>
          {% empty %}
            <p class="error-msg"></p>
          {% endfor %}
        </div>
      </div>

      <div class="input-container-checkbox flex justify-start">
        <div class="container-checkbox">
          <input type="checkbox" name="terms" id="terms" checked />
        </div>
        <label for="terms" class="flex justify-between">
          I agree to Clicon's
          <a href="#">Terms of Condition</a> and <a href="#">Privacy Policy</a>.
        </label>
      </div>

      {% if form.errors %}
      <div class="container-error-msg mt-1">
        {% for error in form.non_field_errors %}
        <p class="error-msg">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <button
        class="bton-login--sign-up flex justify-center"
        type="submit"
        id="register_btn"
      >
        Sign up
        <svg
          class="ml-2"
          width="16"
          height="16"
          viewBox="0 0 48 48"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 0h48v48H0z" fill="none" />
          <g id="Shopicon">
            <polygon
              points="8,26 33.172,26 19.172,40 22,42.828 40.828,24 22,5.172 19.172,8 33.172,22 8,22 	"
              fill="white"
            />
          </g>
        </svg>
      </button>
    </form>
  </div>
</div>
{% endblock %}
