<!-- loads static data -->
{% load static %}

<!-- main content -->
{% block content %}

<div class="container-menu">
  <ul class="flex justify-between flex-col gap-2">
    {% for category in categories %} {% if not category.parent %}
    <li id="mainLink">
      <a href="{% url 'shop_category' category.slug %}" class="inner-link--"
        >{{ category.name }}</a
      >

      {% if category.children.exists %}
      <div class="parent-container-nav-inner flex justify-between">
        <div class="container-another--">
          <div class="container-menu container-inner">
            <!-- navbar drop down -->

            <ul class="flex justify-between">
              <div class="container-inner-ul-li flex justify-start flex-col">
                <li>
                  <a
                    href="{% url 'shop_category' category.slug %}"
                    class="inner-link--"
                    >All</a
                  >
                </li>

                {% for child in category.children.all %}
                <li>
                  <a
                    href="{% url 'shop_child_category' category.slug child.slug %}"
                    class="inner-link--"
                    >{{ child.name }}</a
                  >
                </li>
                {% endfor %}
              </div>

              {% if category.hot_products %}
              <div class="container-main-inner-items-product">
                <div
                  class="container-right-inner-container-- flex-col justify-between flex center"
                >
                  {% for product in category.hot_products %}
                  <a href="{% url 'shop' %}" class="mt-5">
                    <div class="container-product-main flex justify-between">
                      <div class="container-img">
                        <img
                          src="{{ product.images.image.url }}"
                          alt="p5Image"
                          width="100"
                        />
                      </div>
                      <div class="articles-main">
                        <p>{{ product.name }}</p>
                        <span class="price">${{ product.base_price }}</span>
                      </div>
                    </div>
                  </a>
                  {% endfor %}
                </div>
              </div>
              {% endif %}

              <!-- adds -->
              <div class="container-ads-navbar__">
                <div class="container-ads-navbar-padder p-5">
                  {% if filter_computer_acc_ad.image %}
                  <img
                    src="{{ filter_computer_acc_ad.image.url }}"
                    alt="{{ filter_computer_acc_ad.name }}"
                  />
                  {% endif %}

                  <div class="container-main-content w-full text-center">
                    <h1>{{ filter_computer_acc_ad.name }}</h1>
                    <span>{{ filter_computer_acc_ad.description }}</span>

                    <div class="container-- flex justify-center w-full gap-3">
                      <span>Only for:</span>
                      <p>${{ filter_computer_acc_ad.price }} USD</p>
                    </div>

                    <button class="mt-3 w-[100%]">Shop now</button>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
{% endblock %}
